In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
# 导入库
#from csmarapi.CsmarService import CsmarService      
#csmar = CsmarService()

In [12]:
#from csmarapi.CsmarService import CsmarService
#from csmarapi.ReportUtil import ReportUtil

#csmar = CsmarService()
#csmar.login('13478770622', 'DLlmq20040727')

Mon 28 Oct 2024 20:52:55 CsmarService.py INFO User login succeed

In [3]:
#公司文件(4736, 33) 
# 本表数据总记录数：5769 rows × 36 columns，数据频率：日度， 1990-12-10 至 2024-10-31
df1 = pd.read_excel('TRD_Co.xlsx')

#重命名
df1.rename(columns={
    'Stkcd': '证券代码',
    'Stknme': '证券简称',
    'Listdt': '上市日期',
    'Cuntrycd': '国家代码',
    'Conme': '公司全称',
    'Conme_en': '公司英文全称',
    'Indcd': '行业代码A',
    'Indnme': '行业名称A',
    'Nindcd': '行业代码B',
    'Nindnme': '行业名称B',
    'Nnindcd': '行业代码C',
    'Nnindnme': '行业名称C',
    'Estbdt': '公司成立日期',
    'PROVINCE': '所属省份',
    'PROVINCECODE': '所属省份代码',
    'CITY': '所属城市',
    'CITYCODE': '所属城市代码',
    'OWNERSHIPTYPE': '上市公司经营性质',
    'OWNERSHIPTYPECODE': '上市公司经营性质编码',
    'Favaldt': '数据库最早交易记录的日期',
    'Curtrd': '数据库中交易数据的计量货币',
    'Ipoprm': '股票发行溢价',
    'Ipoprc': '发行价格',
    'Ipocur': '发行价格的计量货币',
    'Nshripo': '发行数量',
    'Parvcur': '股票面值的计量货币',
    'Ipodt': '发行日期',
    'Parval': '股票面值',
    'Sctcd': '区域码',
    'Statco': '公司活动情况',
    'Crcd': 'AB股交叉码',
    'Statdt': '情况变动日',
    'Commnt': 'H股交叉码'
}, inplace=True)

df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce')

# 可选：删除 '证券代码' 中的 NaN 值的行
df1.dropna(subset=['证券代码'], inplace=True)

# 将 '证券代码' 转换为整数类型
df1['证券代码'] = df1['证券代码'].astype(int)

df1.to_csv('公司文件.csv', index=False, encoding='utf-8-sig')
df1

,证券代码,证券简称,上市日期,国家代码,公司全称,公司英文全称,行业代码A,行业名称A,行业代码B,行业名称B,...,发行数量,股票面值的计量货币,发行日期,股票面值,区域码,公司活动情况,AB股交叉码,情况变动日,H股交叉码,Markettype
2,1,平安银行,1991-04-03,10,平安银行股份有限公司,"Ping An Bank Co., Ltd.",0001,金融,I01,银行业,...,350,CNY,1989-03-10,20,2,A,NaN,2024-01-15,NaN,4
3,2,万科A,1991-01-29,10,万科企业股份有限公司,"China Vanke Co., Ltd.",0003,房地产,J,房地产业,...,28000,CNY,1988-12-28,1,2,A,NaN,2024-01-15,02202,4
4,3,PT 金田A,1991-07-03,10,金田实业(集团)股份有限公司,"Gintian Industry (Group) Co., Ltd.",0004,综合,M,综合类,...,452,CNY,1989-02-28,1,2,D,NaN,2002-06-14,NaN,4
5,4,国华网安,1991-01-14,10,深圳国华网安科技股份有限公司,Shenzhen Guohua Network Security Technology Co...,0002,公用事业,G87,计算机应用服务业,...,12500,CNY,1989-12-23,1,2,A,NaN,2024-01-15,NaN,4
6,5,ST 星源,1990-12-10,10,深圳世纪星源股份有限公司,Shenzhen Fountain Corporation,0002,公用事业,K99,其他社会服务业,...,44339,CNY,1990-03-03,1,2,D,NaN,2024-04-26,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5766,920019,铜冠矿建,2024-10-11,10,铜陵有色金属集团铜冠矿山建设股份有限公司,"Tongguan Mine Construction Co., Ltd. of Tongli...",0005,工业,B50,采掘服务业,...,58267,CNY,2024-09-18,1,3,A,NaN,2024-10-11,NaN,64
5767,920066,科拜尔,2024-10-31,10,合肥科拜尔新材料股份有限公司,"Hefei Cobel Advanced Plastics Co., Ltd.",0005,工业,C4,石油、化学、塑胶、塑料,...,12441,CNY,2024-10-22,1,3,NaN,NaN,1900-00-00,NaN,64
5768,920088,科力股份,2024-10-29,10,新疆科力新技术发展股份有限公司,"XINJIANG KELI NEW TECHNOLOGY DEVELOPMENT CO., ...",0005,工业,B50,采掘服务业,...,24150,CNY,2024-10-18,1,3,A,NaN,2024-10-29,NaN,64
5769,920099,瑞华技术,2024-09-25,10,常州瑞华化工工程技术股份有限公司,"Changzhou Ruihua Chemical Eng & Tech Co., Ltd.",0002,公用事业,K20,专业、科研服务业,...,18400,CNY,2024-09-10,1,3,A,NaN,2024-09-25,NaN,64
5770,920118,太湖远大,2024-08-22,10,浙江太湖远大新材料股份有限公司,"Zhejiang Taihu Yuanda New Material Corp., Ltd.",0005,工业,C4,石油、化学、塑胶、塑料,...,7300,CNY,2024-08-13,1,3,A,NaN,2024-08-22,NaN,64

In [4]:
df1['证券代码'].dtype

dtype('int32')

In [9]:
#header  571131 rows × 2 columns
sea_lst = []
for y in range(2000, 2025):
    for s in ['03-31', '06-30', '09-30', '12-31']:
        sea_lst.append(f'{y}-{s}')
sea_df = pd.DataFrame(sea_lst[:-1], columns=['会计期间'])
stk_df = pd.read_csv('公司文件.csv')
stk_df['on'] = 0
sea_df['on'] = 0
header = pd.merge(stk_df, sea_df, on=['on'], how='left')[['证券代码', '会计期间']]
header

          证券代码        会计期间
0            1  2000-03-31
1            1  2000-06-30
2            1  2000-09-30
3            1  2000-12-31
4            1  2001-03-31
...        ...         ...
571126  920118  2023-09-30
571127  920118  2023-12-31
571128  920118  2024-03-31
571129  920118  2024-06-30
571130  920118  2024-09-30

[571131 rows x 2 columns]

In [7]:
#资产负债表
# 本表数据总记录数：571131 rows × 144 columns ，数据频率：季度，数据开始时间：1999-12-31，数据结束时间：2024-09-30
# 读取 Excel 文件
df2 = pd.read_excel('FS_Combas.xlsx')

# 重命名列
df2.rename({
    'Stkcd': '证券代码', 
    'ShortName': '证券简称', 
    'Accper': '会计期间', 
    'Typrep': '报表类型', 
    'IfCorrect': '是否发生差错更正', 
    'DeclareDate': '差错更正披露日期', 
    'A001101000': '货币资金', 
    'A0d1101101': '其中:客户资金存款', 
    'A0d1102000': '结算备付金', 
    'A0d1102101': '其中：客户备付金', 
    'A0b1103000': '现金及存放中央银行款项', 
    'A0b1104000': '存放同业款项', 
    'A0b1105000': '贵金属', 
    'A0f1106000': '拆出资金净额', 
    'A001107000': '交易性金融资产', 
    'A0f1108000': '衍生金融资产', 
    'A001109000': '短期投资净额', 
    'A001110000': '应收票据净额', 
    'A001111000': '应收账款净额', 
    'A001127000': '应收款项融资', 
    'A001112000': '预付款项净额', 
    'A0i1113000': '应收保费净额', 
    'A0i1114000': '应收分保账款净额', 
    'A0i1115000': '应收代位追偿款净额', 
    'A0i1116000': '应收分保合同准备金净额', 
    'A0i1116101': '其中:应收分保未到期责任准备金净额', 
    'A0i1116201': '其中:应收分保未决赔款准备金净额', 
    'A0i1116301': '其中:应收分保寿险责任准备金净额', 
    'A0i1116401': '其中:应收分保长期健康险责任准备金净额', 
    'A001119000': '应收利息净额', 
    'A001120000': '应收股利净额', 
    'A001121000': '其他应收款净额', 
    'A0f1122000': '买入返售金融资产净额', 
    'A001123000': '存货净额', 
    'A001128000': '合同资产', 
    'A001124000': '一年内到期的非流动资产', 
    'A0d1126000': '存出保证金', 
    'A001125000': '其他流动资产', 
    'A001100000': '流动资产合计', 
    'A0i1224000': '保户质押贷款净额', 
    'A0i1225000': '定期存款', 
    'A0b1201000': '发放贷款及垫款净额', 
    'A001226000': '债权投资', 
    'A001202000': '可供出售金融资产净额', 
    'A001227000': '其他债权投资', 
    'A001203000': '持有至到期投资净额', 
    'A001204000': '长期应收款净额', 
    'A001205000': '长期股权投资净额', 
    'A001228000': '其他权益工具投资', 
    'A001229000': '其他非流动金融资产', 
    'A001206000': '长期债权投资净额', 
    'A001207000': '长期投资净额', 
    'A0i1209000': '存出资本保证金', 
    'A0i1210000': '独立账户资产', 
    'A001211000': '投资性房地产净额', 
    'A001212000': '固定资产净额', 
    'A001213000': '在建工程净额', 
    'A001214000': '工程物资', 
    'A001215000': '固定资产清理', 
    'A001216000': '生产性生物资产净额', 
    'A001217000': '油气资产净额', 
    'A001230000': '使用权资产', 
    'A001218000': '无形资产净额', 
    'A0d1218101': '其中:交易席位费', 
    'A001219000': '开发支出', 
    'A001220000': '商誉净额', 
    'A001221000': '长期待摊费用', 
    'A001222000': '递延所得税资产', 
    'A0F1224000': '代理业务资产', 
    'A001223000': '其他非流动资产', 
    'A001200000': '非流动资产合计', 
    'A0f1300000': '其他资产', 
    'A001000000': '资产总计', 
    'A002101000': '短期借款', 
    'A0d2101101': '其中:质押借款', 
    'A0b2102000': '向中央银行借款', 
    'A0b2103000': '吸收存款及同业存放', 
    'A0b2103101': '其中：同业及其他金融机构存放款项', 
    'A0b2103201': '其中：吸收存款', 
    'A0f2104000': '拆入资金', 
    'A002105000': '交易性金融负债', 
    'A0f2106000': '衍生金融负债', 
    'A002107000': '应付票据', 
    'A002108000': '应付账款', 
    'A002109000': '预收款项', 
    'A002128000': '合同负债', 
    'A0f2110000': '卖出回购金融资产款', 
    'A0i2111000': '应付手续费及佣金', 
    'A002112000': '应付职工薪酬', 
    'A002113000': '应交税费', 
    'A002114000': '应付利息', 
    'A002115000': '应付股利', 
    'A0i2116000': '应付赔付款', 
    'A0i2117000': '应付保单红利', 
    'A0i2118000': '保户储金及投资款', 
    'A0i2119000': '保险合同准备金', 
    'A0i2119101': '其中:未到期责任准备金', 
    'A0i2119201': '其中:未决赔款准备金', 
    'A0i2119301': '其中:寿险责任准备金', 
    'A0i2119401': '其中:长期健康险责任准备金', 
    'A002120000': '其他应付款', 
    'A0i2121000': '应付分保账款', 
    'A0d2122000': '代理买卖证券款', 
    'A0d2123000': '代理承销证券款', 
    'A0i2124000': '预收保费', 
    'A002125000': '一年内到期的非流动负债', 
    'A002126000': '其他流动负债', 
    'A002127000': '递延收益-流动负债', 
    'A002100000': '流动负债合计', 
    'A002201000': '长期借款', 
    'A0d2202000': '独立账户负债', 
    'A002203000': '应付债券', 
    'A002211000': '租赁负债', 
    'A002204000': '长期应付款', 
    'A002205000': '专项应付款', 
    'A002206000': '长期负债合计', 
    'A002207000': '预计负债', 
    'A0F2210000': '代理业务负债', 
    'A002208000': '递延所得税负债', 
    'A002209000': '其他非流动负债', 
    'A002210000': '递延收益-非流动负债', 
    'A002200000': '非流动负债合计', 
    'A0f2300000': '其他负债', 
    'A002000000': '负债合计', 
    'A003101000': '实收资本(或股本)', 
    'A003112000': '其他权益工具', 
    'A003112101': '其中：优先股', 
    'A003112201': '其中：永续债', 
    'A003112301': '其中：其他', 
    'A003102000': '资本公积', 
    'A003102101': '其中：库存股', 
    'A003103000': '盈余公积', 
    'A0f3104000': '一般风险准备', 
    'A003105000': '未分配利润', 
    'A003106000': '外币报表折算差额', 
    'A003107000': '加：未确认的投资损失', 
    'A0F3108000': '交易风险准备', 
    'A0F3109000': '专项储备', 
    'A003111000': '其他综合收益', 
    'A003100000': '归属于母公司所有者权益合计', 
    'A003200000': '少数股东权益', 
    'A003000000': '所有者权益合计', 
    'A004000000': '负债与所有者权益总计'
}, axis='columns', inplace=True)


df2['证券代码'] = pd.to_numeric(df2['证券代码'], errors='coerce')

# 删除 '证券代码' 中的 NaN 值的行
df2.dropna(subset=['证券代码'], inplace=True)

# 将 '证券代码' 转换为整数类型
df2['证券代码'] = df2['证券代码'].astype(int)
# 筛选报表类型不为 'B' 的行
df2 = df2[df2['报表类型'] != 'B']
df3 = pd.merge(header, df2, on=['证券代码', '会计期间'], how='left')
df3['查询成功'] = 1
df3['查询成功'][df3['报表类型'].isna()] = 0
df3.to_csv('季_资产负债表.csv', index=False, encoding='utf-8-sig')
df3

,证券代码,会计期间,证券简称,报表类型,是否发生差错更正,差错更正披露日期,货币资金,其中:客户资金存款,结算备付金,其中：客户备付金,...,外币报表折算差额,加：未确认的投资损失,交易风险准备,专项储备,其他综合收益,归属于母公司所有者权益合计,少数股东权益,所有者权益合计,负债与所有者权益总计,查询成功
0,1,2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2000-06-30,深发展A,A,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3078512556,NaN,3078512556,49732336516,1
2,1,2000-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,2000-12-31,深发展A,A,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4738883655,NaN,4738883655,67227499769,1
4,1,2001-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571126,920118,2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571127,920118,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571128,920118,2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571129,920118,2024-06-30,太湖远大,A,0,NaN,81570985.92,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,456025056.32,NaN,456025056.32,1120070303.12,1
571130,920118,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [8]:
# 利润表 — 利润表
# 本表数据总记录数： 571131 rows × 78 columns，数据频率：季度，数据开始时间：1999-12-31，数据结束时间：2024-09-30
# 注意：该表为累积表，指标由当年1月至统计截止日期计算

df4 = pd.read_excel('FS_Comins.xlsx')
df4.rename({'Stkcd': '证券代码', 'ShortName': '证券简称', 'Accper': '会计期间', 'Typrep': '报表类型', 'IfCorrect': '是否发生差错更正', 'DeclareDate': '差错更正披露日期', 'B001100000': '营业总收入', 'B001101000': '营业收入', 'Bbd1102000': '利息净收入', 'Bbd1102101': '利息收入', 'Bbd1102203': '利息支出', 'B0i1103000': '已赚保费', 'B0i1103101': '保险业务收入', 'B0i1103111': '其中：分保费收入', 'B0i1103203': '减：分出保费', 'B0i1103303': '减：提取未到期责任准备金', 'B0d1104000': '手续费及佣金净收入', 'B0d1104101': '其中：代理买卖证券业务净收入', 'B0d1104201': '其中:证券承销业务净收入', 'B0d1104301': '其中：受托客户资产管理业务净收入', 'B0d1104401': '手续费及佣金收入', 'B0d1104501': '手续费及佣金支出', 'B0f1105000': '其他业务收入', 'B001200000': '营业总成本', 'B001201000': '营业成本', 'B0i1202000': '退保金', 'B0i1203000': '赔付支出净额', 'B0i1203101': '赔付支出', 'B0i1203203': '减：摊回赔付支出', 'B0i1204000': '提取保险责任准备金净额', 'B0i1204101': '提取保险责任准备金', 'B0i1204203': '减：摊回保险责任准备金', 'B0i1205000': '保单红利支出', 'B0i1206000': '分保费用', 'B001207000': '税金及附加', 'B0f1208000': '业务及管理费', 'B0i1208103': '减：摊回分保费用', 'B0I1214000': '保险业务手续费及佣金支出', 'B001209000': '销售费用', 'B001210000': '管理费用', 'B001216000': '研发费用', 'B001211000': '财务费用', 'B001211101': '其中：利息费用(财务费用)', 'B001211203': '其中：利息收入(财务费用)', 'B001305000': '其他收益', 'B001302000': '投资收益', 'B001302101': '其中：对联营企业和合营企业的投资收益', 'B001302201': '其中：以摊余成本计量的金融资产终止确认收益', 'B001303000': '汇兑收益', 'B001306000': '净敞口套期收益', 'B001301000': '公允价值变动收益', 'B001212000': '资产减值损失', 'B001307000': '信用减值损失', 'B001308000': '资产处置收益', 'B0f1213000': '其他业务成本', 'B001304000': '其他业务利润', 'B001300000': '营业利润', 'B001400000': '加：营业外收入', 'B001400101': '其中：非流动资产处置利得', 'B001500000': '减：营业外支出', 'B001500101': '其中：非流动资产处置净损益', 'B001500201': '其中：非流动资产处置损失', 'B001000000': '利润总额', 'B002100000': '减：所得税费用', 'B002200000': '未确认的投资损失', 'B002300000': '影响净利润的其他项目', 'B002000000': '净利润', 'B002000101': '归属于母公司所有者的净利润', 'B002000301': '归属于母公司其他权益工具持有者的净利润', 'B002000201': '少数股东损益', 'B003000000': '基本每股收益', 'B004000000': '稀释每股收益', 'B005000000': '其他综合收益(损失)', 'B006000000': '综合收益总额', 'B006000101': '归属于母公司所有者的综合收益', 'B006000103': '归属于母公司其他权益工具持有者的综合收益总额', 'B006000102': '归属少数股东的综合收益'}, 
               axis='columns', inplace=True)

df4['证券代码'] = pd.to_numeric(df4['证券代码'], errors='coerce')

# 删除 '证券代码' 中的 NaN 值的行
df4.dropna(subset=['证券代码'], inplace=True)

# 将 '证券代码' 转换为整数类型
df4['证券代码'] = df4['证券代码'].astype(int)
# 筛选报表类型不为 'B' 的行
df4 = df4[df4['报表类型'] != 'B']

df5 = pd.merge(header, df4, on=['证券代码','会计期间'], how='left')
df5['查询成功'] = 1
df5['查询成功'][df5['报表类型'].isna()] = 0
df5.to_csv('季_利润表.csv', index=False, encoding='utf-8-sig')
df5

,证券代码,会计期间,证券简称,报表类型,是否发生差错更正,差错更正披露日期,营业总收入,营业收入,利息净收入,利息收入,...,归属于母公司其他权益工具持有者的净利润,少数股东损益,基本每股收益,稀释每股收益,其他综合收益(损失),综合收益总额,归属于母公司所有者的综合收益,归属于母公司其他权益工具持有者的综合收益总额,归属少数股东的综合收益,查询成功
0,1,2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2000-06-30,深发展A,A,0,NaN,563942659,NaN,524197727,909580595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1,2000-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,2000-12-31,深发展A,A,0,NaN,1431286264,NaN,1376899518,2340676525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1,2001-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571126,920118,2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571127,920118,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571128,920118,2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571129,920118,2024-06-30,太湖远大,A,0,NaN,760902134.05,760902134.05,NaN,NaN,...,NaN,NaN,0.8749,0.8749,NaN,38140539.16,38140539.16,NaN,NaN,1
571130,920118,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
# 现金流量表 — 现金流量表(直接法)
# 本表数据总记录数： 733206 rows × 73 columns，数据频率：季度，数据开始时间：1999-12-31，数据结束时间：2024-09-30
# 注意：该表为累积表，指标由当年1月至统计截止日期计算

df6 = pd.read_excel('FS_Comscfd.xlsx')
df6.rename({'Stkcd': '证券代码', 'ShortName': '证券简称', 'Accper': '会计期间', 'Typrep': '报表类型', 'IfCorrect': '是否发生差错更正', 'DeclareDate': '差错更正披露日期', 'C001001000': '销售商品、提供劳务收到的现金', 'C0b1002000': '客户存款和同业存放款项净增加额', 'C0F1023000': '存放央行和同业款项净减少额', 'C0b1003000': '向中央银行借款净增加额', 'C0b1004000': '向其他金融机构拆入资金净增加额', 'C0i1005000': '收到原保险合同保费取得的现金', 'C0i1006000': '收到再保险业务现金净额', 'C0i1007000': '保户储金及投资款净增加额', 'C0d1008000': '处置交易性金融资产净增加额', 'C0f1009000': '收取利息、手续费及佣金的现金', 'C0d1010000': '拆入资金净增加额', 'C0d1011000': '回购业务资金净增加额', 'C0F1024000': '拆出资金净减少额', 'C0F1025000': '买入返售款项净减少额', 'C001012000': '收到的税费返还', 'C001013000': '收到的其他与经营活动有关的现金', 'C001100000': '经营活动现金流入小计', 'C001014000': '购买商品、接受劳务支付的现金', 'C0b1015000': '客户贷款及垫款净增加额', 'C0F1026000': '向中央银行借款净减少额', 'C0b1016000': '存放中央银行和同业款项净增加额', 'C0i1017000': '支付原保险合同赔付款项的现金', 'C0f1018000': '支付利息、手续费及佣金的现金', 'C0F1027000': '支付再保业务现金净额', 'C0F1028000': '保户储金及投资款净减少额', 'C0F1029000': '拆出资金净增加额', 'C0F1030000': '买入返售款项净增加额', 'C0F1031000': '拆入资金净减少额', 'C0F1032000': '卖出回购款项净减少额', 'C0i1019000': '支付保单红利的现金', 'C001020000': '支付给职工以及为职工支付的现金', 'C001021000': '支付的各项税费', 'C001022000': '支付其他与经营活动有关的现金', 'C001200000': '经营活动现金流出小计', 'C001000000': '经营活动产生的现金流量净额', 'C002001000': '收回投资收到的现金', 'C002002000': '取得投资收益收到的现金', 'C002003000': '处置固定资产、无形资产和其他长期资产收回的现金净额', 'C002004000': '处置子公司及其他营业单位收到的现金净额', 'C002005000': '收到的其他与投资活动有关的现金', 'C002100000': '投资活动产生的现金流入小计', 'C002006000': '购建固定资产、无形资产和其他长期资产支付的现金', 'C002007000': '投资支付的现金', 'C0i2008000': '质押贷款净增加额', 'C002009000': '取得子公司及其他营业单位支付的现金净额', 'C002010000': '支付其他与投资活动有关的现金', 'C002200000': '投资活动产生的现金流出小计', 'C002000000': '投资活动产生的现金流量净额', 'C003008000': '吸收投资收到的现金', 'C003001000': '吸收权益性投资收到的现金', 'C003001101': '其中：子公司吸收少数股东投资收到的现金', 'C003003000': '发行债券收到的现金', 'C003002000': '取得借款收到的现金', 'C003004000': '收到其他与筹资活动有关的现金', 'C003100000': '筹资活动现金流入小计', 'C003005000': '偿还债务支付的现金', 'C003006000': '分配股利、利润或偿付利息支付的现金', 'C003006101': '其中：子公司支付给少数股东的股利、利润', 'C003007000': '支付其他与筹资活动有关的现金', 'C003200000': '筹资活动现金流出小计', 'C003000000': '筹资活动产生的现金流量净额', 'C004000000': '汇率变动对现金及现金等价物的影响', 'C007000000': '其他对现金的影响', 'C005000000': '现金及现金等价物净增加额', 'C005001000': '期初现金及现金等价物余额', 'C006000000': '期末现金及现金等价物余额'}, 
               axis='columns', inplace=True)

df6['证券代码'] = pd.to_numeric(df6['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df6.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df6['证券代码'] = df6['证券代码'].astype(int)
# 筛选报表类型不为 'B' 的行
df6 = df6[df6['报表类型'] != 'B']

df7 = pd.merge(header, df6, on=['证券代码','会计期间'], how='left')
df7['查询成功'] = 1
df7['查询成功'][df7['报表类型'].isna()] = 0
df7.to_csv('季_现金流量表(直接法).csv', index=False, encoding='utf-8-sig')
df7

,证券代码,会计期间,证券简称,报表类型,是否发生差错更正,差错更正披露日期,销售商品、提供劳务收到的现金,客户存款和同业存放款项净增加额,存放央行和同业款项净减少额,向中央银行借款净增加额,...,其中：子公司支付给少数股东的股利、利润,支付其他与筹资活动有关的现金,筹资活动现金流出小计,筹资活动产生的现金流量净额,汇率变动对现金及现金等价物的影响,其他对现金的影响,现金及现金等价物净增加额,期初现金及现金等价物余额,期末现金及现金等价物余额,查询成功
0,1,2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2000-06-30,深发展A,A,0,NaN,NaN,5970046695,NaN,-142529116,...,NaN,NaN,207567315,-127567315,-270995,NaN,-1693452960,6326917562,4633464602,1
2,1,2000-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,2000-12-31,深发展A,A,0,NaN,NaN,18500600561,NaN,1353222407,...,NaN,60822321,324713088,2827087368,-38698,NaN,1317815563,6306977320,7624792883,1
4,1,2001-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571126,920118,2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571127,920118,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571128,920118,2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571129,920118,2024-06-30,太湖远大,A,0,NaN,419810233.47,NaN,NaN,NaN,...,NaN,850000,160421496.63,115672647.09,816896.37,NaN,-126974718.96,195241060.7,68266341.74,1
571130,920118,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
# 现金流量表 — 现金流量表(间接法)
# 本表数据总记录数：589155 rows × 34 columns，数据频率：季度，数据开始时间：1999-12-31，数据结束时间：2024-09-30
# 注意：该表为累积表，指标由当年1月至统计截止日期计算

df8 = pd.read_excel('FS_Comscfi.xlsx')
df8.rename({'Stkcd': '证券代码', 'ShortName': '证券简称', 'Accper': '会计期间', 'Typrep': '报表类型', 'IfCorrect': '是否发生差错更正', 'DeclareDate': '差错更正披露日期', 'D000101000': '净利润', 'D000118000': '信用减值损失', 'D000117000': '未确认的投资损失', 'D000102000': '资产减值准备', 'D000103000': '固定资产折旧、油气资产折耗、生产性生物资产折旧', 'D000104000': '无形资产摊销', 'D000105000': '长期待摊费用摊销', 'D000106000': '处置固定资产、无形资产和其他长期资产的损失(收益以“－”号填列)', 'D000107000': '固定资产报废损失(收益以“－”号填列)', 'D000108000': '公允价值变动损失(收益以“－”号填列)', 'D000109000': '财务费用(收益以“－”号填列)', 'D000110000': '投资损失(收益以“－”号填列)', 'D000111000': '递延所得税资产减少(增加以“－”号填列)', 'D000112000': '递延所得税负债增加(减少以“－”号填列)', 'D000113000': '存货的减少(增加以“－”号填列)', 'D000114000': '经营性应收项目的减少(增加以“－”号填列)', 'D000115000': '经营性应付项目的增加(减少以“－”号填列)', 'D000116000': '其他', 'D000100000': '经营活动产生的现金流量净额', 'D000201000': '债务转为资本', 'D000202000': '一年内到期的可转换公司债券', 'D000203000': '融资租赁固定资产', 'D000204000': '现金的期末余额', 'D000205000': '现金的期初余额', 'D000206000': '现金等价物的期末余额', 'D000207000': '现金等价物的期初余额', 'D000200000': '现金及现金等价物净增加额'}, 
               axis='columns',inplace=True)

df8['证券代码'] = pd.to_numeric(df8['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df8.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df8['证券代码'] = df8['证券代码'].astype(int)
# 筛选报表类型不为 'B' 的行
df8 = df8[df8['报表类型'] != 'B']

df9 = pd.merge(header, df8, on=['证券代码','会计期间'], how='left')
df9['查询成功'] = 1
df9['查询成功'][df9['报表类型'].isna()] = 0
df9.to_csv('季_现金流量表(间接法).csv', index=False, encoding='utf-8-sig')
df9

,证券代码,会计期间,证券简称,报表类型,是否发生差错更正,差错更正披露日期,净利润,信用减值损失,未确认的投资损失,资产减值准备,...,经营活动产生的现金流量净额,债务转为资本,一年内到期的可转换公司债券,融资租赁固定资产,现金的期末余额,现金的期初余额,现金等价物的期末余额,现金等价物的期初余额,现金及现金等价物净增加额,查询成功
0,1,2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2000-06-30,深发展A,A,0,NaN,177952845,NaN,NaN,32600000,...,172340380,NaN,NaN,NaN,4633464602,6326917562,NaN,NaN,-1693452960,1
2,1,2000-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,2000-12-31,深发展A,A,0,NaN,506551785,NaN,NaN,105700244,...,1591065227,NaN,NaN,NaN,381835085,822661830,7242957798,5484315490,1317815563,1
4,1,2001-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571126,920118,2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571127,920118,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571128,920118,2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571129,920118,2024-06-30,太湖远大,A,0,NaN,38140539.16,NaN,NaN,1228791.05,...,-186831038.74,NaN,NaN,NaN,68266341.74,195241060.7,NaN,NaN,-126974718.96,1
571130,920118,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [6]:
# 相对价值指标 — 相对价值指标
# 本表数据总记录数：440448 × 37 columns条，数据频率：季度，数据开始时间：1999-12-31，数据结束时间：2024-09-30

df10 = pd.read_excel('FI_T10.xlsx')
df10.rename({'Stkcd': '证券代码', 'ShortName': '证券简称', 'Accper': '会计期间', 'Indcd': '行业代码', 'Indnme': '行业名称', 'Source': '公告来源', 'F100101B': '市盈率（PE）1', 'F100102B': '市盈率（PE）2', 'F100103C': '市盈率（PE）TTM', 'F100201B': '市销率（PS）1', 'F100202B': '市销率（PS）2', 'F100203C': '市销率（PS）TTM', 'F100301B': '市现率（PCF）1', 'F100302B': '市现率（PCF）2', 'F100303C': '市现率（PCF）TTM', 'F100401A': '市净率（PB）', 'F100501A': '市值有形资产比', 'F100601B': '市盈率母公司（PE）1', 'F100602B': '市盈率母公司（PE）2', 'F100603C': '市盈率母公司（PE）TTM', 'F100701A': '市净率母公司（PB）', 'F100801A': '市值A', 'F100802A': '市值B', 'F100901A': '托宾Q值A', 'F100902A': '托宾Q值B', 'F100903A': '托宾Q值C', 'F100904A': '托宾Q值D', 'F101001A': '账面市值比A', 'F101002A': '账面市值比B', 'F101101B': '本利比', 'F101201B': '普通股获利率A', 'F101202B': '普通股获利率B', 'F101301B': '企业价值倍数', 'F101302C': '企业价值倍数TTM'}, 
               axis='columns', inplace=True)

df10['证券代码'] = pd.to_numeric(df10['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df10.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df10['证券代码'] = df10['证券代码'].astype(int)

df11 = pd.merge(header, df10, on=['证券代码','会计期间'], how='left')
df11['查询成功'] = 1
df11['查询成功'][df11['行业代码'].isna()] = 0
df11.to_csv('季_相对价值指标.csv', index=False, encoding='utf-8-sig')
df11

,证券代码,会计期间,证券简称,行业代码,行业名称,公告来源,市盈率（PE）1,市盈率（PE）2,市盈率（PE）TTM,市销率（PS）1,...,账面市值比A,账面市值比B,本利比,普通股获利率A,普通股获利率B,企业价值倍数,企业价值倍数TTM,Indcd1,Indnme1,查询成功
0,1,2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2000-06-30,深发展A,J66,货币金融服务,0,50.676223,79.051807,57.158756,19.123567,...,0.742015,0.66497,NaN,0,0.038968,228.293258,NaN,J66,货币金融服务,1
2,1,2000-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,2000-12-31,深发展A,J66,货币金融服务,0,55.775813,55.775813,55.775813,19.739823,...,0.799729,0.740865,NaN,0,-0.167908,NaN,NaN,J66,货币金融服务,1
4,1,2001-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571126,920118,2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571127,920118,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571128,920118,2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571129,920118,2024-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
571130,920118,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [7]:
df1 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_1.xlsx')
df2 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_2.xlsx')
df_1 = pd.concat([df1, df2], ignore_index=True)
df_1.rename(columns={
    'Stkcd': '证券代码', 
    'Trddt': '交易日期', 
    'Opnprc': '日开盘价', 
    'Hiprc': '日最高价', 
    'Loprc': '日最低价', 
    'Clsprc': '日收盘价', 
    'Dnshrtrd': '日个股交易股数', 
    'Dnvaltrd': '日个股交易金额', 
    'Dsmvosd': '日个股流通市值', 
    'Dsmvtll': '日个股总市值', 
    'Dretwd': '考虑现金红利再投资的日个股回报率', 
    'Dretnd': '不考虑现金红利的日个股回报率', 
    'Adjprcwd': '考虑现金红利再投资的收盘价的可比价格', 
    'Adjprcnd': '不考虑现金红利的收盘价的可比价格', 
    'Markettype': '市场类型', 
    'Capchgdt': '最新股本变动日期', 
    'Trdsta': '交易状态', 
    'Ahshrtrd_D': '日盘后成交总量', 
    'Ahvaltrd_D': '日盘后成交总额', 
    'PreClosePrice': '昨收盘(交易所)', 
    'ChangeRatio': '涨跌幅'
}, inplace=True)

df_1['证券代码'] = pd.to_numeric(df_1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_1['证券代码'] = df_1['证券代码'].astype(int)

df_1

,证券代码,交易日期,日开盘价,日最高价,日最低价,日收盘价,日个股交易股数,日个股交易金额,日个股流通市值,日个股总市值,...,不考虑现金红利的日个股回报率,考虑现金红利再投资的收盘价的可比价格,不考虑现金红利的收盘价的可比价格,市场类型,最新股本变动日期,交易状态,日盘后成交总量,日盘后成交总额,昨收盘(交易所),涨跌幅
2,1,2000-01-04,17.5,18.55,17.2,18.29,8216086,147325356.78,19586806.29,28383283.31,...,0.048138,374.364613,334.746046,4,1997-08-25,1,NaN,NaN,17.45,0.048138
3,1,2000-01-05,18.35,18.85,18,18.06,9399315,173475158.81,19340498.72,28026358.48,...,-0.012575,369.656912,330.536555,4,1997-08-25,1,NaN,NaN,18.29,-0.012575
4,1,2000-01-06,18.02,19.05,17.75,18.78,12022209,221192510.51,20111548.5,29143688.39,...,0.039867,384.394064,343.714092,4,1997-08-25,1,NaN,NaN,18.06,0.039867
5,1,2000-01-07,19,19.77,18.9,19.54,22934633,443592446.36,20925434.38,30323092.18,...,0.040469,399.949948,357.623714,4,1997-08-25,1,NaN,NaN,18.78,0.040469
6,1,2000-01-10,19.79,20.48,19.77,20.14,18521078,372294495.7,21567975.87,31254200.43,...,0.030706,412.230908,368.604995,4,1997-08-25,1,NaN,NaN,19.54,0.030706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493286,900957,2004-12-24,0.256,0.262,0.256,0.26,40800,10529,47840,90740,...,0.007752,0.262068,0.259999,2,2000-08-03,1,NaN,NaN,0.258,0.007752
1493287,900957,2004-12-27,0.257,0.262,0.256,0.262,10316,2650,48208,91438,...,0.007692,0.264084,0.261999,2,2000-08-03,1,NaN,NaN,0.26,0.007692
1493288,900957,2004-12-28,0.254,0.264,0.254,0.261,40500,10497,48024,91089,...,-0.003817,0.263076,0.260999,2,2000-08-03,1,NaN,NaN,0.262,-0.003817
1493289,900957,2004-12-29,0.259,0.259,0.255,0.255,40410,10354,46920,88995,...,-0.022989,0.257028,0.254999,2,2000-08-03,1,NaN,NaN,0.261,-0.022989
1493290,900957,2004-12-30,0.255,0.256,0.254,0.254,53400,13621,46736,88646,...,-0.003922,0.25602,0.253999,2,2000-08-03,1,NaN,NaN,0.255,-0.003922

In [8]:
df_1.to_csv('日个股回报率文件_1.csv', index=False, encoding='utf-8-sig')

In [9]:
df3 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_3.xlsx')
df4 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_4.xlsx')
df_2 = pd.concat([df3, df4], ignore_index=True)
df_2.rename(columns={
    'Stkcd': '证券代码', 
    'Trddt': '交易日期', 
    'Opnprc': '日开盘价', 
    'Hiprc': '日最高价', 
    'Loprc': '日最低价', 
    'Clsprc': '日收盘价', 
    'Dnshrtrd': '日个股交易股数', 
    'Dnvaltrd': '日个股交易金额', 
    'Dsmvosd': '日个股流通市值', 
    'Dsmvtll': '日个股总市值', 
    'Dretwd': '考虑现金红利再投资的日个股回报率', 
    'Dretnd': '不考虑现金红利的日个股回报率', 
    'Adjprcwd': '考虑现金红利再投资的收盘价的可比价格', 
    'Adjprcnd': '不考虑现金红利的收盘价的可比价格', 
    'Markettype': '市场类型', 
    'Capchgdt': '最新股本变动日期', 
    'Trdsta': '交易状态', 
    'Ahshrtrd_D': '日盘后成交总量', 
    'Ahvaltrd_D': '日盘后成交总额', 
    'PreClosePrice': '昨收盘(交易所)', 
    'ChangeRatio': '涨跌幅'
}, inplace=True)

df_2['证券代码'] = pd.to_numeric(df_2['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_2.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_2['证券代码'] = df_2['证券代码'].astype(int)

df_2

,证券代码,交易日期,日开盘价,日最高价,日最低价,日收盘价,日个股交易股数,日个股交易金额,日个股流通市值,日个股总市值,...,不考虑现金红利的日个股回报率,考虑现金红利再投资的收盘价的可比价格,不考虑现金红利的收盘价的可比价格,市场类型,最新股本变动日期,交易状态,日盘后成交总量,日盘后成交总额,昨收盘(交易所),涨跌幅
2,1,2004-12-31,6.58,6.66,6.58,6.59,1752143,11594602,9287695.35,12822967.96,...,0.00152,158.531171,138.072555,4,2004-12-30,1,NaN,NaN,6.58,0.00152
3,1,2005-01-04,6.59,6.59,6.46,6.52,1760832,11465602,9189040.01,12686760.41,...,-0.010622,156.847228,136.605927,4,2004-12-30,1,NaN,NaN,6.59,-0.010622
4,1,2005-01-05,6.52,6.55,6.35,6.46,3222144,20718558,9104478.29,12570011.08,...,-0.009202,155.403849,135.348817,4,2004-12-30,1,NaN,NaN,6.52,-0.009202
5,1,2005-01-06,6.5,6.59,6.45,6.52,2666413,17333840,9189040.01,12686760.41,...,0.009288,156.847228,136.605927,4,2004-12-30,1,NaN,NaN,6.46,0.009288
6,1,2005-01-07,6.58,6.6,6.46,6.51,1886151,12302853,9174946.39,12667302.19,...,-0.001534,156.606665,136.396409,4,2004-12-30,1,NaN,NaN,6.52,-0.001534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390564,900957,2008-12-25,0.228,0.233,0.225,0.228,291798,66793,41952,79572,...,0,0.229813,0.228,2,2000-08-03,1,NaN,NaN,0.228,0
1390565,900957,2008-12-26,0.227,0.23,0.226,0.228,193098,44076,41952,79572,...,0,0.229813,0.228,2,2000-08-03,1,NaN,NaN,0.228,0
1390566,900957,2008-12-29,0.228,0.228,0.22,0.226,419500,93330,41584,78874,...,-0.008772,0.227797,0.226,2,2000-08-03,1,NaN,NaN,0.228,-0.008772
1390567,900957,2008-12-30,0.225,0.227,0.223,0.224,104300,23462,41216,78176,...,-0.00885,0.225782,0.224,2,2000-08-03,1,NaN,NaN,0.226,-0.00885
1390568,900957,2008-12-31,0.226,0.228,0.222,0.224,148200,33474,41216,78176,...,0,0.225782,0.224,2,2000-08-03,1,NaN,NaN,0.224,0

In [10]:
df_2.to_csv('日个股回报率文件_2.csv', index=False, encoding='utf-8-sig')

In [11]:
df5 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_5.xlsx')
df6 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_6.xlsx')
df7 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_7.xlsx')
df_3 = pd.concat([df5, df6,df7], ignore_index=True)
df_3.rename(columns={
    'Stkcd': '证券代码', 
    'Trddt': '交易日期', 
    'Opnprc': '日开盘价', 
    'Hiprc': '日最高价', 
    'Loprc': '日最低价', 
    'Clsprc': '日收盘价', 
    'Dnshrtrd': '日个股交易股数', 
    'Dnvaltrd': '日个股交易金额', 
    'Dsmvosd': '日个股流通市值', 
    'Dsmvtll': '日个股总市值', 
    'Dretwd': '考虑现金红利再投资的日个股回报率', 
    'Dretnd': '不考虑现金红利的日个股回报率', 
    'Adjprcwd': '考虑现金红利再投资的收盘价的可比价格', 
    'Adjprcnd': '不考虑现金红利的收盘价的可比价格', 
    'Markettype': '市场类型', 
    'Capchgdt': '最新股本变动日期', 
    'Trdsta': '交易状态', 
    'Ahshrtrd_D': '日盘后成交总量', 
    'Ahvaltrd_D': '日盘后成交总额', 
    'PreClosePrice': '昨收盘(交易所)', 
    'ChangeRatio': '涨跌幅'
}, inplace=True)

df_3['证券代码'] = pd.to_numeric(df_3['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_3.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_3['证券代码'] = df_3['证券代码'].astype(int)

df_3

,证券代码,交易日期,日开盘价,日最高价,日最低价,日收盘价,日个股交易股数,日个股交易金额,日个股流通市值,日个股总市值,...,不考虑现金红利的日个股回报率,考虑现金红利再投资的收盘价的可比价格,不考虑现金红利的收盘价的可比价格,市场类型,最新股本变动日期,交易状态,日盘后成交总量,日盘后成交总额,昨收盘(交易所),涨跌幅
2,1,2009-01-05,9.57,9.74,9.51,9.71,34082718,327584246.99,27038521.65,30153761.83,...,0.026427,335.144972,290.922092,4,2008-10-31,1,NaN,NaN,9.46,0.026427
3,1,2009-01-06,9.8,10.43,9.73,10.3,63533035,644107979.16,28681439.03,31985967.75,...,0.060762,355.509084,308.599129,4,2008-10-31,1,NaN,NaN,9.71,0.060762
4,1,2009-01-07,10.2,10.4,9.99,9.99,61196035,622328637.9,27818211.25,31023283.28,...,-0.030097,344.809296,299.311194,4,2008-10-31,1,NaN,NaN,10.3,-0.030097
5,1,2009-01-08,9.75,9.76,9.5,9.6,39257246,379270679.75,26732215.02,29812164.12,...,-0.039039,331.348273,287.626373,4,2008-10-31,1,NaN,NaN,9.99,-0.039039
6,1,2009-01-09,9.6,9.93,9.6,9.85,60445727,589480466.82,27428366.45,30588522.56,...,0.026042,339.977134,295.116643,4,2008-10-31,1,NaN,NaN,9.6,0.026042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572300,900957,2013-12-25,0.606,0.608,0.6,0.605,365000,220276,111320,211145,...,-0.00165,0.609808,0.604999,2,2000-08-03,1,NaN,NaN,0.606,-0.00165
2572301,900957,2013-12-26,0.608,0.61,0.597,0.598,380700,228719,110032,208702,...,-0.01157,0.602752,0.597999,2,2000-08-03,1,NaN,NaN,0.605,-0.01157
2572302,900957,2013-12-27,0.598,0.605,0.598,0.603,345601,208374,110952,210447,...,0.008361,0.607792,0.602999,2,2000-08-03,1,NaN,NaN,0.598,0.008361
2572303,900957,2013-12-30,0.609,0.61,0.602,0.605,459329,277996,111320,211145,...,0.003317,0.609808,0.604999,2,2000-08-03,1,NaN,NaN,0.603,0.003317
2572304,900957,2013-12-31,0.605,0.606,0.601,0.605,270902,163595,111320,211145,...,0,0.609808,0.604999,2,2000-08-03,1,NaN,NaN,0.605,0

In [12]:
df_3.to_csv('日个股回报率文件_3.csv', index=False, encoding='utf-8-sig')

In [2]:
df8 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_8.xlsx')
df9 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_9.xlsx')
df10 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_10.xlsx')
df11 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_11.xlsx')

df_4 = pd.concat([df8, df9,df10,df11], ignore_index=True)
df_4.rename(columns={
    'Stkcd': '证券代码', 
    'Trddt': '交易日期', 
    'Opnprc': '日开盘价', 
    'Hiprc': '日最高价', 
    'Loprc': '日最低价', 
    'Clsprc': '日收盘价', 
    'Dnshrtrd': '日个股交易股数', 
    'Dnvaltrd': '日个股交易金额', 
    'Dsmvosd': '日个股流通市值', 
    'Dsmvtll': '日个股总市值', 
    'Dretwd': '考虑现金红利再投资的日个股回报率', 
    'Dretnd': '不考虑现金红利的日个股回报率', 
    'Adjprcwd': '考虑现金红利再投资的收盘价的可比价格', 
    'Adjprcnd': '不考虑现金红利的收盘价的可比价格', 
    'Markettype': '市场类型', 
    'Capchgdt': '最新股本变动日期', 
    'Trdsta': '交易状态', 
    'Ahshrtrd_D': '日盘后成交总量', 
    'Ahvaltrd_D': '日盘后成交总额', 
    'PreClosePrice': '昨收盘(交易所)', 
    'ChangeRatio': '涨跌幅'
}, inplace=True)

df_4['证券代码'] = pd.to_numeric(df_4['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_4.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_4['证券代码'] = df_4['证券代码'].astype(int)

df_4

,证券代码,交易日期,日开盘价,日最高价,日最低价,日收盘价,日个股交易股数,日个股交易金额,日个股流通市值,日个股总市值,...,不考虑现金红利的日个股回报率,考虑现金红利再投资的收盘价的可比价格,不考虑现金红利的收盘价的可比价格,市场类型,最新股本变动日期,交易状态,日盘后成交总量,日盘后成交总额,昨收盘(交易所),涨跌幅
2,1,2014-01-02,12.12,12.3,12.05,12.23,48991089,596223744.35,68193279.93,100253720.93,...,-0.001633,686.893127,586.277691,4,2013-11-12,1,NaN,NaN,12.25,-0.001633
3,1,2014-01-03,12.15,12.16,11.78,11.93,55111484,656631302.37,66520509.37,97794512.73,...,-0.02453,670.043745,571.89639,4,2013-11-12,1,NaN,NaN,12.23,-0.02453
4,1,2014-01-06,11.89,12,11.5,11.67,58211823,679280389.74,65070774.88,95663198.96,...,-0.021794,655.440948,559.432596,4,2013-11-12,1,NaN,NaN,11.93,-0.021794
5,1,2014-01-07,11.53,11.76,11.51,11.63,33840749,393977581.03,64847738.81,95335304.53,...,-0.003428,653.194364,557.515089,4,2013-11-12,1,NaN,NaN,11.67,-0.003428
6,1,2014-01-08,11.64,11.95,11.53,11.76,45776816,538436179.47,65572606.05,111963968.91,...,0.011178,660.495763,563.746986,4,2014-01-08,1,NaN,NaN,11.63,0.011178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3454633,900957,2018-12-24,0.623,0.633,0.622,0.628,104200,65496,115552,219172,...,0.008026,0.632978,0.627999,2,2000-08-03,1,NaN,NaN,0.623,0.008026
3454634,900957,2018-12-25,0.61,0.626,0.607,0.621,125000,77238,114264,216729,...,-0.011146,0.625923,0.620999,2,2000-08-03,1,NaN,NaN,0.628,-0.011146
3454635,900957,2018-12-26,0.63,0.63,0.617,0.62,42000,26076,114080,216380,...,-0.00161,0.624915,0.619999,2,2000-08-03,1,NaN,NaN,0.621,-0.00161
3454636,900957,2018-12-27,0.631,0.635,0.613,0.617,91800,57276,113528,215333,...,-0.004839,0.621891,0.616999,2,2000-08-03,1,NaN,NaN,0.62,-0.004839
3454637,900957,2018-12-28,0.612,0.623,0.612,0.616,76400,47152,113344,214984,...,-0.001621,0.620883,0.615999,2,2000-08-03,1,NaN,NaN,0.617,-0.001621

In [3]:
df12 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_12.xlsx')
df13 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_13.xlsx')
df14 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_14.xlsx')
df15 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_15.xlsx')
df16 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_16.xlsx')
df17 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_17.xlsx')

df_5 = pd.concat([df12, df13, df14, df15, df16, df17], ignore_index=True)
df_5.rename(columns={
    'Stkcd': '证券代码', 
    'Trddt': '交易日期', 
    'Opnprc': '日开盘价', 
    'Hiprc': '日最高价', 
    'Loprc': '日最低价', 
    'Clsprc': '日收盘价', 
    'Dnshrtrd': '日个股交易股数', 
    'Dnvaltrd': '日个股交易金额', 
    'Dsmvosd': '日个股流通市值', 
    'Dsmvtll': '日个股总市值', 
    'Dretwd': '考虑现金红利再投资的日个股回报率', 
    'Dretnd': '不考虑现金红利的日个股回报率', 
    'Adjprcwd': '考虑现金红利再投资的收盘价的可比价格', 
    'Adjprcnd': '不考虑现金红利的收盘价的可比价格', 
    'Markettype': '市场类型', 
    'Capchgdt': '最新股本变动日期', 
    'Trdsta': '交易状态', 
    'Ahshrtrd_D': '日盘后成交总量', 
    'Ahvaltrd_D': '日盘后成交总额', 
    'PreClosePrice': '昨收盘(交易所)', 
    'ChangeRatio': '涨跌幅'
}, inplace=True)

df_5['证券代码'] = pd.to_numeric(df_5['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_5.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_5['证券代码'] = df_5['证券代码'].astype(int)

df_5

,证券代码,交易日期,日开盘价,日最高价,日最低价,日收盘价,日个股交易股数,日个股交易金额,日个股流通市值,日个股总市值,...,不考虑现金红利的日个股回报率,考虑现金红利再投资的收盘价的可比价格,不考虑现金红利的收盘价的可比价格,市场类型,最新股本变动日期,交易状态,日盘后成交总量,日盘后成交总额,昨收盘(交易所),涨跌幅
2,1,2019-01-02,9.39,9.42,9.16,9.19,53938632,498695109.66,157794567.84,157796080.45,...,-0.020256,953.465954,761.264196,4,2018-05-21,1,NaN,NaN,9.38,-0.020256
3,1,2019-01-03,9.18,9.33,9.15,9.28,41553795,384457707.88,159339890.05,159341417.48,...,0.009793,962.803488,768.719449,4,2018-05-21,1,NaN,NaN,9.19,0.009793
4,1,2019-01-04,9.24,9.82,9.22,9.75,148115906,1422149888.16,167409906.04,167411510.82,...,0.050647,1011.566165,807.652438,4,2018-05-21,1,NaN,NaN,9.28,0.050647
5,1,2019-01-07,9.84,9.85,9.63,9.74,86568766,841166430.7,167238203.57,167239806.7,...,-0.001026,1010.528661,806.824077,4,2018-05-21,1,NaN,NaN,9.75,-0.001026
6,1,2019-01-08,9.73,9.74,9.62,9.66,40238811,389247795.73,165864583.83,165866173.8,...,-0.008214,1002.228631,800.197185,4,2018-05-21,1,NaN,NaN,9.74,-0.008214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5446676,900957,2023-12-25,0.398,0.398,0.384,0.386,93000,36095,71024,134714,...,-0.010256,0.389051,0.385999,2,2000-08-03,1,0,0,0.39,-0.010256
5446677,900957,2023-12-26,0.382,0.391,0.378,0.384,68400,26164,70656,134016,...,-0.005181,0.387035,0.383999,2,2000-08-03,1,0,0,0.386,-0.005181
5446678,900957,2023-12-27,0.38,0.392,0.38,0.391,60900,23601,71944,136459,...,0.018229,0.39409,0.390999,2,2000-08-03,1,0,0,0.384,0.018229
5446679,900957,2023-12-28,0.391,0.422,0.381,0.418,773821,318788,76912,145882,...,0.069054,0.421303,0.417999,2,2000-08-03,1,0,0,0.391,0.069054
5446680,900957,2023-12-29,0.418,0.418,0.41,0.413,337300,139232,75992,144137,...,-0.011962,0.416263,0.412999,2,2000-08-03,1,0,0,0.418,-0.011962

In [4]:
df_4.to_csv('日个股回报率文件_4.csv', index=False, encoding='utf-8-sig')
df_5.to_csv('日个股回报率文件_5.csv', index=False, encoding='utf-8-sig')

In [5]:
df18 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_18.xlsx')
df19 = pd.read_excel('TRD_Dalyr/TRD_Dalyr_19.xlsx')

df_6 = pd.concat([df18, df19], ignore_index=True)
df_6.rename(columns={
    'Stkcd': '证券代码', 
    'Trddt': '交易日期', 
    'Opnprc': '日开盘价', 
    'Hiprc': '日最高价', 
    'Loprc': '日最低价', 
    'Clsprc': '日收盘价', 
    'Dnshrtrd': '日个股交易股数', 
    'Dnvaltrd': '日个股交易金额', 
    'Dsmvosd': '日个股流通市值', 
    'Dsmvtll': '日个股总市值', 
    'Dretwd': '考虑现金红利再投资的日个股回报率', 
    'Dretnd': '不考虑现金红利的日个股回报率', 
    'Adjprcwd': '考虑现金红利再投资的收盘价的可比价格', 
    'Adjprcnd': '不考虑现金红利的收盘价的可比价格', 
    'Markettype': '市场类型', 
    'Capchgdt': '最新股本变动日期', 
    'Trdsta': '交易状态', 
    'Ahshrtrd_D': '日盘后成交总量', 
    'Ahvaltrd_D': '日盘后成交总额', 
    'PreClosePrice': '昨收盘(交易所)', 
    'ChangeRatio': '涨跌幅'
}, inplace=True)

df_6['证券代码'] = pd.to_numeric(df_6['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_6.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_6['证券代码'] = df_6['证券代码'].astype(int)

df_6

,证券代码,交易日期,日开盘价,日最高价,日最低价,日收盘价,日个股交易股数,日个股交易金额,日个股流通市值,日个股总市值,...,不考虑现金红利的日个股回报率,考虑现金红利再投资的收盘价的可比价格,不考虑现金红利的收盘价的可比价格,市场类型,最新股本变动日期,交易状态,日盘后成交总量,日盘后成交总额,昨收盘(交易所),涨跌幅
2,1,2024-01-02,9.39,9.42,9.21,9.21,115836645,1075742252.45,178725087.41,178728506.6,...,-0.019169,1032.231777,762.919175,4,2022-06-30,1,0,0,9.39,-0.019169
3,1,2024-01-03,9.19,9.22,9.15,9.2,73361031,673673613.54,178531031.94,178534447.42,...,-0.001086,1031.111004,762.090815,4,2022-06-30,1,0,0,9.21,-0.001086
4,1,2024-01-04,9.19,9.19,9.08,9.11,86419399,787470082.37,176784532.71,176787914.78,...,-0.009783,1021.024049,754.635579,4,2022-06-30,1,0,0,9.2,-0.009783
5,1,2024-01-05,9.1,9.44,9.07,9.27,199162216,1852659692.14,179889420.23,179892861.7,...,0.017563,1038.956414,767.889332,4,2022-06-30,1,0,0,9.11,0.017563
6,1,2024-01-08,9.23,9.3,9.11,9.15,112115619,1029006548.73,177560754.59,177564151.51,...,-0.012945,1025.50714,757.949017,4,2022-06-30,1,0,0,9.27,-0.012945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074304,920118,2024-10-24,24.2,26.36,23.68,25.48,1846744,46069696.52,351496.6,1296830.08,...,0.052893,25.48,25.48,64,2024-10-15,1,0,0,24.2,0.052893
1074305,920118,2024-10-25,26,27.99,25.38,26.03,3101792,83263120.81,359083.85,1324822.88,...,0.021586,26.03,26.03,64,2024-10-15,1,0,0,25.48,0.021586
1074306,920118,2024-10-28,25.71,26.85,25.3,26.22,1852547,48085851.37,361704.9,1334493.12,...,0.007299,26.22,26.22,64,2024-10-15,1,0,0,26.03,0.007299
1074307,920118,2024-10-29,26.5,28.8,26.5,27.77,2661578,73303277.03,383087.15,1413381.92,...,0.059115,27.77,27.77,64,2024-10-15,1,0,0,26.22,0.059115
1074308,920118,2024-10-30,28.28,31.45,27.6,30.19,3060006,89673202.59,416471.05,1536550.24,...,0.087144,30.19,30.19,64,2024-10-15,1,0,0,27.77,0.087144

In [6]:
df_6.to_csv('日个股回报率文件_6.csv', index=False, encoding='utf-8-sig')

In [8]:
#日个股回报率文件：2000.1.1-2024.10.30
df_1 = pd.read_csv('日个股回报率文件_1.csv')
df_2 = pd.read_csv('日个股回报率文件_2.csv')
df_3 = pd.read_csv('日个股回报率文件_3.csv')
df_4 = pd.read_csv('日个股回报率文件_4.csv')
df_5 = pd.read_csv('日个股回报率文件_5.csv')
df_6 = pd.read_csv('日个股回报率文件_6.csv')

df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6],ignore_index=True)
df.to_csv('日_日个股回报率文件.csv', index=False, encoding='utf-8-sig')
df

,证券代码,交易日期,日开盘价,日最高价,日最低价,日收盘价,日个股交易股数,日个股交易金额,日个股流通市值,日个股总市值,...,不考虑现金红利的日个股回报率,考虑现金红利再投资的收盘价的可比价格,不考虑现金红利的收盘价的可比价格,市场类型,最新股本变动日期,交易状态,日盘后成交总量,日盘后成交总额,昨收盘(交易所),涨跌幅
0,1,2000-01-04,17.50,18.55,17.20,18.29,8216086,1.473254e+08,19586806.29,28383283.31,...,0.048138,374.364613,334.746046,4,1997-08-25,1,NaN,NaN,17.45,0.048138
1,1,2000-01-05,18.35,18.85,18.00,18.06,9399315,1.734752e+08,19340498.72,28026358.48,...,-0.012575,369.656912,330.536555,4,1997-08-25,1,NaN,NaN,18.29,-0.012575
2,1,2000-01-06,18.02,19.05,17.75,18.78,12022209,2.211925e+08,20111548.50,29143688.39,...,0.039867,384.394064,343.714092,4,1997-08-25,1,NaN,NaN,18.06,0.039867
3,1,2000-01-07,19.00,19.77,18.90,19.54,22934633,4.435924e+08,20925434.38,30323092.18,...,0.040469,399.949948,357.623714,4,1997-08-25,1,NaN,NaN,18.78,0.040469
4,1,2000-01-10,19.79,20.48,19.77,20.14,18521078,3.722945e+08,21567975.87,31254200.43,...,0.030706,412.230908,368.604995,4,1997-08-25,1,NaN,NaN,19.54,0.030706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15431750,920118,2024-10-24,24.20,26.36,23.68,25.48,1846744,4.606970e+07,351496.60,1296830.08,...,0.052893,25.480000,25.480000,64,2024-10-15,1,0.0,0.0,24.20,0.052893
15431751,920118,2024-10-25,26.00,27.99,25.38,26.03,3101792,8.326312e+07,359083.85,1324822.88,...,0.021586,26.030000,26.030000,64,2024-10-15,1,0.0,0.0,25.48,0.021586
15431752,920118,2024-10-28,25.71,26.85,25.30,26.22,1852547,4.808585e+07,361704.90,1334493.12,...,0.007299,26.220000,26.220000,64,2024-10-15,1,0.0,0.0,26.03,0.007299
15431753,920118,2024-10-29,26.50,28.80,26.50,27.77,2661578,7.330328e+07,383087.15,1413381.92,...,0.059115,27.770000,27.770000,64,2024-10-15,1,0.0,0.0,26.22,0.059115
15431754,920118,2024-10-30,28.28,31.45,27.60,30.19,3060006,8.967320e+07,416471.05,1536550.24,...,0.087144,30.190000,30.190000,64,2024-10-15,1,0.0,0.0,27.77,0.087144

In [3]:
#header  571131 rows × 2 columns
sea_lst = []
for y in range(2000, 2025):
    for s in ['03-31', '06-30', '09-30', '12-31']:
        sea_lst.append(f'{y}-{s}')
sea_df = pd.DataFrame(sea_lst[:-1], columns=['会计期间'])
stk_df = pd.read_csv('公司文件.csv')
stk_df['on'] = 0
sea_df['on'] = 0
header = pd.merge(stk_df, sea_df, on=['on'], how='left')[['证券代码', '会计期间']]
header

          证券代码        会计期间
0            1  2000-03-31
1            1  2000-06-30
2            1  2000-09-30
3            1  2000-12-31
4            1  2001-03-31
...        ...         ...
571126  920118  2023-09-30
571127  920118  2023-12-31
571128  920118  2024-03-31
571129  920118  2024-06-30
571130  920118  2024-09-30

[571131 rows x 2 columns]

In [6]:
# 基本数据 — 治理综合信息文件
# 本表数据总记录数：63549 条，数据频率：年度，数据开始时间： 1999-12-31，数据结束时间： 2023-12-31

df1 = pd.read_excel('CG_Ybasic.xlsx')
df1.rename({'Stkcd': '证券代码', 
            'Reptdt': '统计截止日期', 
            'Annodt': '公告日期', 
            'Y0301b': '股本结构是否变化', 
            'Y0401b': '股东总数', 
            'Y0501b': '前十大股东是否存在关联', 
            'Y0601b': '员工人数', 
            'Y0701b': '离退休职工人数', 
            'ChairmanID': '董事长人员ID', 
            'Y0801b': '董事长名称', 
            'ChairmanHoldshares': '董事长持股数量', 
            'ChairmanHoldsharesRatio': '董事长持股比例', 
            'GeneralManagerID': '总经理人员ID', 
            'Y0901b': '总经理名称', 
            'ManagerHoldshares': '总经理持股数量', 
            'ManagerHoldsharesRatio': '总经理持股比例', 
            'Y1001b': '董事长与总经理兼任情况', 
            'Y1401b': '年薪披露方式', 
            'Y1701a': '委员会设立总数', 
            'Y1701b': '其中：四委设立个数', 
            'Y1701c': '其中：其他委员会设立个数', 
            'Y1901b': '备注'}, 
           axis='columns', inplace=True)

df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df1['证券代码'] = df1['证券代码'].astype(int)

df2 = pd.merge(header[header['会计期间'].apply(lambda x: True if x[5:7] == '12' else False)].rename(columns={'会计期间':'统计截止日期'}), 
               df1, on=['证券代码', '统计截止日期'], how='left')
df2['查询成功'] = 1
df2['查询成功'][df2['公告日期'].isna()] = 0
df2.to_csv('年_治理综合信息文件.csv', index=False, encoding='utf-8-sig')
df2

,证券代码,统计截止日期,公告日期,股本结构是否变化,股东总数,前十大股东是否存在关联,员工人数,离退休职工人数,董事长人员ID,董事长名称,...,总经理名称,总经理持股数量,总经理持股比例,董事长与总经理兼任情况,年薪披露方式,委员会设立总数,其中：四委设立个数,其中：其他委员会设立个数,备注,查询成功
0,1,2000-12-31,2001-04-14,NaN,NaN,NaN,4540,72,30149006,陈兆民,...,周林,0,0,2,2,0,0,0,NaN,1
1,1,2001-12-31,2002-04-19,NaN,NaN,NaN,5089,107,30149006,陈兆民,...,周林,0,0,2,2,0,0,0,NaN,1
2,1,2002-12-31,2003-04-24,NaN,NaN,NaN,5834,137,NaN,NaN,...,周林,0,0,NaN,2,0,0,0,NaN,1
3,1,2003-12-31,2004-04-15,1,702461,2,6471,149,30147524,周林,...,何如,0,0,2,2,4,4,0,NaN,1
4,1,2004-12-31,2005-04-26,2,666196,3,6999,155,3074330,蓝德彰,...,韦杰夫,0,0,2,2,4,4,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138451,920118,2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
138452,920118,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
138453,920118,2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
138454,920118,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
138455,920118,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [11]:
# 基本数据 — 分配文件
# 本表数据总记录数：58429 rows × 7 columns，数据频率：日度，数据开始时间：1999-12-31，数据结束时间：2024-11-6
df1 = pd.read_excel('DPR_Acptl.xlsx')
df1.rename({'Stkcd': '证券代码', 
            'Disttyp': '分配类型', 
            'Exdistdt': '除权(息)日期', 
            'Annodt': '公告日期', 
            'Paydt': '支付日期', 
            'Amount': '分配比率', 
            'Roprc': '配股价格'}, 
           axis='columns', inplace=True)

df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df1['证券代码'] = df1['证券代码'].astype(int)

df1 = df1.sort_values(by=['证券代码', '除权(息)日期', '分配类型']).reset_index().drop(columns=['index'])
df1.to_csv('日_分配文件.csv', index=False, encoding='utf-8-sig')
df1

         证券代码 分配类型     除权(息)日期        公告日期        支付日期      分配比率   配股价格
0           1   RO  2000-11-06  2000-10-23  2000-12-08       0.3      8
1           1   CA  2002-07-23  2002-07-17  2002-07-23      0.15      0
2           1   CA  2003-09-29  2003-09-23  2003-09-29      0.15      0
3           1   GQ  2007-06-20  2007-06-14  2007-06-20       0.1  0.009
4           1   CA  2008-10-31  2008-10-24  2008-10-31    0.0335      0
...       ...  ...         ...         ...         ...       ...    ...
58424  900956   CA  2019-05-13  2019-05-07  2019-05-22       0.1      0
58425  900956   CA  2019-12-04  2019-11-28  2019-12-17      0.15      0
58426  900957   CA  2001-05-18  2001-05-12  2001-05-23  0.019947      0
58427  900957   CA  2002-06-12  2002-06-08  2002-06-26  0.019997      0
58428  900957   CA  2003-07-29  2003-07-23  2003-08-13      0.01      0

[58429 rows x 7 columns]

In [12]:
# 基本数据 — 股本变动文件
# 本表数据总记录数：118732 rows × 20 columns，数据频率：日度，数据开始时间：1999-12-31，数据结束时间：2024-11-7
df1 = pd.read_excel('TRD_Capchg.xlsx')
df1.rename({'Stkcd': '证券代码', 'Shrchgdt': '股本变动日期', 'Shrtyp': '股本变动类型', 'Nshrttl': '总股数', 'Nshrstt': '国有股股数', 'Nshrlpd': '境内法人股股数', 'Nshrlpf': '境外法人股股数', 'Nshrlpn': '募集法人股股数', 'Nshremp': '内部职工股股数', 'Nshrmf': '基金配售股数', 'Nshrrot': '转配股股数', 'Nshrprf': '优先股股数', 'Nshra': 'A股流通股数', 'Nshrb': 'B股流通股数', 'Nshrh': 'H股流通股数', 'Nshrunl': '流通配送股尚未流通股数', 'Nshrsms': '高管持股数', 'Nshrglea': '一般法人配售数', 'Nshrsina': '战略投资者配售数', 'Nshrlpo': '其他股股数'}, 
           axis='columns', inplace=True)

df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df1['证券代码'] = df1['证券代码'].astype(int)

df1 = df1.sort_values(by=['证券代码', '股本变动日期', '股本变动类型']).reset_index().drop(columns=['index'])
df1.to_csv('日_股本变动文件.csv', index=False, encoding='utf-8-sig')
df1

,证券代码,股本变动日期,股本变动类型,总股数,国有股股数,境内法人股股数,境外法人股股数,募集法人股股数,内部职工股股数,基金配售股数,转配股股数,优先股股数,A股流通股数,B股流通股数,H股流通股数,流通配送股尚未流通股数,高管持股数,一般法人配售数,战略投资者配售数,其他股股数
0,1,2000-11-06,00100,1945822149,125390017,0,0,427307368,0,0,0,0,1393124764,0,0,0,0,0,0,0
1,1,2001-10-15,05000,1945822149,125390017,0,0,411070167,0,0,0,0,1409361965,0,0,0,0,0,0,0
2,1,2004-12-30,60000,1945822149,1717146,186639733,348103305,0,0,0,0,0,1409361965,0,0,0,0,0,0,0
3,1,2007-06-20,07000,2086758345,1717146,186223069,348103305,0,0,0,0,0,1550187787,0,0,0,110374,0,0,416664
4,1,2007-12-27,00005,2086758345,4626234,183313981,348103305,0,0,0,0,0,1550186587,0,0,0,14838,0,0,513400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118727,920099,2024-09-25,10000,75999998,1901445,7781703,0,0,0,0,0,0,16279395,0,0,0,38593983,0,0,11443472
118728,920099,2024-10-24,00050,78399998,2576445,9506703,0,0,0,0,0,0,16279395,0,0,0,38593983,0,0,11443472
118729,920118,2024-08-22,10000,50896000,0,7430700,0,0,0,0,0,0,14369600,0,0,0,19645600,0,0,9450100
118730,920118,2024-09-20,00008,50896000,0,8525700,0,0,0,0,0,0,13274600,0,0,0,19645600,0,0,9450100
118731,920118,2024-10-15,05000,50896000,0,8525700,0,0,0,0,0,0,13795000,0,0,0,19645600,0,0,8929700

In [8]:
mon_lst = []
for y in range(2000, 2025):
    for m in ['01-31', '02-29' if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0) else '02-28', '03-31', '04-30', '05-31', '06-30', '07-31', '08-31', '09-30', '10-31', '11-30', '12-31']:
        mon_lst.append(f'{y}-{m}')
mon_df = pd.DataFrame(mon_lst[:-2], columns=['交易月份'])
mon_df['月份'] = mon_df['交易月份'].apply(lambda x: x[:7])
stk_df = pd.read_csv('公司文件.csv')
stk_df['on'] = 0
mon_df['on'] = 0
header = pd.merge(stk_df, mon_df, on=['on'], how='left')[['证券代码', '交易月份', '月份']]
header

           证券代码        交易月份       月份
0             1  2000-01-31  2000-01
1             1  2000-02-29  2000-02
2             1  2000-03-31  2000-03
3             1  2000-04-30  2000-04
4             1  2000-05-31  2000-05
...         ...         ...      ...
1719157  920118  2024-06-30  2024-06
1719158  920118  2024-07-31  2024-07
1719159  920118  2024-08-31  2024-08
1719160  920118  2024-09-30  2024-09
1719161  920118  2024-10-31  2024-10

[1719162 rows x 3 columns]

In [15]:
# 月频Beta文件 — 月收益Beta表（48个月滚动）
# 本表数据总记录数：482091 条，数据频率：月度，数据开始时间： 1999-12，数据结束时间： 2024-09
df1 = pd.read_excel('BETA_Mbeta.xlsx')
df1.rename({'Stkcd': '证券代码', 
            'Trdmnt': '交易月份', 
            'IsNotBSE': '是否剔除北交所股票', 
            'Betaval': '分市场月Beta值', 
            'Betavals': '综合市场月Beta值', 
            'TradingMonths': '交易月数'}, 
           axis='columns', inplace=True)
df1.drop_duplicates(subset=['证券代码', '交易月份', '是否剔除北交所股票'], inplace=True)

df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df1['证券代码'] = df1['证券代码'].astype(int)

df1 = df1.sort_values(by=['证券代码', '交易月份', '是否剔除北交所股票']).reset_index().drop(columns=['index'])
df2 = pd.merge(header, df1, on=['证券代码', '交易月份'], how='left')
df2['查询成功'] = 1
df2['查询成功'][df2['是否剔除北交所股票'].isna()] = 0
df3 = df2.drop(columns=['交易月份'])
df3.to_csv('月_月收益Beta表(48个月滚动).csv', index=False, encoding='utf-8-sig')
df3

           证券代码       月份 是否剔除北交所股票 分市场月Beta值 综合市场月Beta值 交易月数  查询成功
0             1  2000-01       NaN       NaN        NaN  NaN     0
1             1  2000-02       NaN       NaN        NaN  NaN     0
2             1  2000-03       NaN       NaN        NaN  NaN     0
3             1  2000-04       NaN       NaN        NaN  NaN     0
4             1  2000-05       NaN       NaN        NaN  NaN     0
...         ...      ...       ...       ...        ...  ...   ...
1719157  920118  2024-06       NaN       NaN        NaN  NaN     0
1719158  920118  2024-07       NaN       NaN        NaN  NaN     0
1719159  920118  2024-08       NaN       NaN        NaN  NaN     0
1719160  920118  2024-09       NaN       NaN        NaN  NaN     0
1719161  920118  2024-10       NaN       NaN        NaN  NaN     0

[1719162 rows x 7 columns]

In [10]:
# 个股交易数据 — 月个股回报率文件
# 本表数据总记录数：1690317 rows × 18 columns，数据频率：月度，数据开始时间： 1999-12，数据结束时间： 2024-09
df1 = pd.read_excel('TRD_Mnth.xlsx')
df1.rename({'Stkcd': '证券代码', 'Trdmnt': '月份', 'Opndt': '月开盘日期', 'Mopnprc': '月开盘价', 'Clsdt': '月收盘日期', 'Mclsprc': '月收盘价', 'Mnshrtrd': '月个股交易股数', 'Mnvaltrd': '月个股交易金额', 'Msmvosd': '月个股流通市值', 'Msmvttl': '月个股总市值', 'Ndaytrd': '月交易天数', 'Mretwd': '考虑现金红利再投资的月个股回报率', 'Mretnd': '不考虑现金红利再投资的月个股回报率', 'Markettype': '市场类型', 'Capchgdt': '最新股本变动日期', 'Ahshrtrd_M': '月盘后成交总量', 'Ahvaltrd_M': '月盘后成交总额'}, 
           axis='columns', inplace=True)
df1.drop_duplicates(subset=['证券代码', '月份'], inplace=True)

df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df1['证券代码'] = df1['证券代码'].astype(int)

df1 = df1.sort_values(by=['证券代码', '月份']).reset_index().drop(columns=['index'])
df2 = pd.merge(header, df1, on=['证券代码', '月份'], how='left')
df2['查询成功'] = 1
df2['查询成功'][df2['月开盘日期'].isna()] = 0
df3 = df2.drop(columns=['月份'])
df3.to_csv('月_月个股回报率文件.csv', index=False, encoding='utf-8-sig')
df3

,证券代码,交易月份,月开盘日期,月开盘价,月收盘日期,月收盘价,月个股交易股数,月个股交易金额,月个股流通市值,月个股总市值,月交易天数,考虑现金红利再投资的月个股回报率,不考虑现金红利再投资的月个股回报率,市场类型,最新股本变动日期,月盘后成交总量,月盘后成交总额,查询成功
0,1,2000-01-31,04,17.5,28,18.53,178385288,3299055629.33,19843822.88,28755726.61,19,0.061891,0.061891,4,1997-08-25,NaN,NaN,1
1,1,2000-02-29,14,19.2,29,18.32,220816880,4175317880.43,19618933.36,28429838.73,12,-0.011333,-0.011333,4,1997-08-25,NaN,NaN,1
2,1,2000-03-31,01,18.4,31,18.37,362256029,6859299297.33,19672478.48,28507431.08,23,0.002729,0.002729,4,1997-08-25,NaN,NaN,1
3,1,2000-04-30,03,18.38,28,19.05,208567616,3978432894.71,20400692.17,29562687.1,20,0.037017,0.037017,4,1997-08-25,NaN,NaN,1
4,1,2000-05-31,08,19.12,31,18,98004336,1779608383.38,19276244.57,27933247.66,18,-0.055118,-0.055118,4,1997-08-25,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719157,920118,2024-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1719158,920118,2024-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1719159,920118,2024-08-31,22,23,30,18.15,27492318,582818796.44,260808.24,923762.4,7,NaN,NaN,64,2024-08-22,0,0,1
1719160,920118,2024-09-30,02,18.12,30,22.05,30706832,542767264.21,292704.93,1122256.8,19,0.214876,0.214876,64,2024-09-20,0,0,1
1719161,920118,2024-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [22]:
# 个股交易数据 — 周个股回报率文件
# 本表数据总记录数：3466671 条，数据频率：周度，数据开始时间： 1990-51，数据结束时间： 2024-43
df1 = pd.read_excel('TRD_Week/TRD_Week_1.xlsx')
df2 = pd.read_excel('TRD_Week/TRD_Week_2.xlsx')
df3 = pd.read_excel('TRD_Week/TRD_Week_3.xlsx')
df4 = pd.read_excel('TRD_Week/TRD_Week_4.xlsx')

df1 = pd.concat([df1, df2, df3, df4], ignore_index=True)

df1.rename({'Stkcd': '证券代码', 'Trdwnt': '交易周份', 'Opndt': '周开盘日期', 'Wopnprc': '周开盘价', 'Clsdt': '周收盘日期', 'Wclsprc': '周收盘价', 'Wnshrtrd': '周个股交易股数', 'Wnvaltrd': '周个股交易金额', 'Wsmvosd': '周个股流通市值', 'Wsmvttl': '周个股总市值', 'Ndaytrd': '周交易天数', 'Wretwd': '考虑现金红利再投资的周个股回报率', 'Wretnd': '不考虑现金红利再投资的周个股回报率', 'Markettype': '市场类型', 'Capchgdt': '最新股本变动日期', 'Ahshrtrd_W': '周盘后成交总量', 'Ahvaltrd_W': '周盘后成交总额'}, 
           axis='columns', inplace=True)
df1.drop_duplicates(subset=['证券代码', '交易周份'], inplace=True)

df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df1['证券代码'] = df1['证券代码'].astype(int)

df1 = df1.sort_values(by=['证券代码', '交易周份']).reset_index().drop(columns=['index'])
df1.to_csv('周_周个股回报率文件.csv', index=False, encoding='utf-8-sig')
df1

,证券代码,交易周份,周开盘日期,周开盘价,周收盘日期,周收盘价,周个股交易股数,周个股交易金额,周个股流通市值,周个股总市值,周交易天数,考虑现金红利再投资的周个股回报率,不考虑现金红利再投资的周个股回报率,市场类型,最新股本变动日期,周盘后成交总量,周盘后成交总额
0,1,1991-14,1991-04-03,49,1991-04-06,48.28,1300,64000,1279420,2341588.26,4,NaN,NaN,4,1991-04-03,NaN,NaN
1,1,1991-15,1991-04-08,48.04,1991-04-13,46.84,3400,161000,1241260,2271748.01,5,-0.029826,-0.029826,4,1991-04-03,NaN,NaN
2,1,1991-16,1991-04-16,46.38,1991-04-20,45.46,1400,64000,1204690,2204817.77,5,-0.029462,-0.029462,4,1991-04-03,NaN,NaN
3,1,1991-17,1991-04-23,45,1991-04-26,44.34,6700,300000,1175010,2150497.58,4,-0.024637,-0.024637,4,1991-04-03,NaN,NaN
4,1,1991-18,1991-04-29,43.9,1991-05-04,43.02,1300,57000,1140030,2086477.36,5,-0.02977,0.365088,4,1991-04-03,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3466666,920118,2024-39,2024-09-23,16.68,2024-09-27,18.05,6917731,117819238.4,239606.53,918672.8,5,0.071853,0.071853,64,2024-08-22,0,0
3466667,920118,2024-40,2024-09-30,18.69,2024-09-30,22.05,3939164,80464517.18,292704.93,1122256.8,1,0.221607,0.221607,64,2024-09-20,0,0
3466668,920118,2024-41,2024-10-08,27.74,2024-10-11,21.88,13451295,353787915.7,290448.25,1113604.48,4,-0.00771,-0.00771,64,2024-09-20,0,0
3466669,920118,2024-42,2024-10-14,21.9,2024-10-18,24.7,10662942,242515278.03,340736.5,1257131.2,5,0.128885,0.128885,64,2024-09-20,0,0
3466670,920118,2024-43,2024-10-21,24.96,2024-10-25,26.03,11655510,298718811.79,359083.85,1324822.88,5,0.053846,0.053846,64,2024-10-15,0,0

In [ ]:
#公司事件 — 公司公告事件表已购买
#本表数据总记录数：6467156 条，数据频率：日度，数据开始时间： 2002-03-07，数据结束时间： 2024-11-16

# df1 2002-03-07 2005-03-07
# df2 2005-03-08 2008-03-07
# df3 2008-03-08 2011-03-07
# df4 2011-03-08 2014-03-07
# df5 2014-03-08 2017-03-07
# df6 2017-03-08 2021-03-07
# df7 2021-03-08 2024-03-07
# df8 2024-03-08 2024-11-16


import pandas as pd
import glob

# 获取所有 Excel 文件的路径
file_paths = glob.glob('ER/*.xlsx')  # 确保文件扩展名正确

# 读取所有 Excel 文件并存储在一个列表中
dataframes = [pd.read_excel(file) for file in file_paths]

# 根据“证券代码”和“会计期间”进行合并
df = dataframes[0]  # 先用第一个 DataFrame 作为基础
for df1 in dataframes[1:]:
    df = pd.merge(df, df1)

df.rename(columns={
    'AnnouncementID': '公告ID', 
    'Symbol': '证券代码', 
    'ShortName': '证券简称', 
    'DeclareDate': '公告日期', 
    'FullName': '公司全称', 
    'Title': '公告标题', 
    'ClassID': '分类编码', 
    'ClassName': '分类', 
    'ClassifyID': '小类分类编码', 
    'ClassifyName': '小类分类', 
    'FileSize': '公告大小', 
    'IndustryCode': '行业代码', 
    'IndustryName': '行业', 
    'AreaCode': '地区代码', 
    'Area': '地区'
}, inplace=True)

# 将 '证券代码' 转换为数字
df['证券代码'] = pd.to_numeric(df['证券代码'], errors='coerce')

# 删除 '证券代码' 中的 NaN 值的行
df.dropna(subset=['证券代码'], inplace=True)

# 将 '证券代码' 转换为整数类型
df['证券代码'] = df['证券代码'].astype(int)

# 保存到 CSV 文件
df.to_csv('日_公司公告事件表.csv', index=False, encoding='utf-8-sig')

df

In [4]:
df1 = pd.read_excel('ER/ER_Announcement_1.xlsx')
df2 = pd.read_excel('ER/ER_Announcement_2.xlsx')
df3 = pd.read_excel('ER/ER_Announcement_3.xlsx')

df_1 = pd.concat([df1, df2,df3], ignore_index=True)
df_1 = df_1[['AnnouncementID', 'Symbol', 'ShortName', 'DeclareDate', 'FullName', 
              'Title', 'ClassID', 'ClassName', 'ClassifyID', 'ClassifyName', 
              'FileSize', 'IndustryCode', 'IndustryName', 'AreaCode', 'Area']]
df_1.rename(columns={
    'AnnouncementID': '公告ID', 
    'Symbol': '证券代码', 
    'ShortName': '证券简称', 
    'DeclareDate': '公告日期', 
    'FullName': '公司全称', 
    'Title': '公告标题', 
    'ClassID': '分类编码', 
    'ClassName': '分类', 
    'ClassifyID': '小类分类编码', 
    'ClassifyName': '小类分类', 
    'FileSize': '公告大小', 
    'IndustryCode': '行业代码', 
    'IndustryName': '行业', 
    'AreaCode': '地区代码', 
    'Area': '地区'
}, inplace=True)

df_1['证券代码'] = pd.to_numeric(df_1['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_1.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_1['证券代码'] = df_1['证券代码'].astype(int)
df_1

,公告ID,证券代码,证券简称,公告日期,公司全称,公告标题,分类编码,分类,小类分类编码,小类分类,公告大小,行业代码,行业,地区代码,地区
2,579679,26,飞亚达A,2002-04-23,深圳飞亚达(集团)股份有限公司,飞 亚 达：2002年第一季度报告,2,定期报告,01030501,一季度报告正文,32,C35,专用设备制造业,440300,深圳市
3,14027358,26,飞亚达A,2004-05-14,深圳飞亚达(集团)股份有限公司,飞 亚 达公司章程（2004年5月）,NaN,NaN,NaN,NaN,99,C35,专用设备制造业,440300,深圳市
4,10701067,32,深桑达A,2003-05-13,深圳市桑达实业股份有限公司,深桑达Ａ：2002年增发Ａ股之首次回访报告（银河证券）,NaN,NaN,NaN,NaN,24,C39,计算机、通信和其他电子设备制造业,440300,深圳市
5,14688978,32,深桑达A,2004-10-20,深圳市桑达实业股份有限公司,深桑达Ａ：2004年第三季度报告,2,定期报告,01030701,三季度报告正文,62,C39,计算机、通信和其他电子设备制造业,440300,深圳市
6,10088166,46,光彩建设,2002-12-14,光彩建设集团股份有限公司,光彩建设：关联交易管理办法,NaN,NaN,NaN,NaN,16,K70,房地产业,440300,深圳市
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190340,58384780,900957,凌云B股,2010-09-01,上海凌云实业发展股份有限公司,凌云Ｂ股：2010年第一次临时股东大会的法律意见书,9,股东大会,01199901,股东大会法律意见书,55,E50,建筑装饰和其他建筑业,310000,上海市
190341,58384779,900957,凌云B股,2010-09-01,上海凌云实业发展股份有限公司,凌云Ｂ股：2010年第一次临时股东大会决议公告,"8,9","经营交易,股东大会","01170520,01190501","对外投资进展公告,正常股东大会决议公告",52,E50,建筑装饰和其他建筑业,310000,上海市
190342,58534819,900957,凌云B股,2010-10-18,上海凌云实业发展股份有限公司,凌云Ｂ股：2010年第三季度报告,2,定期报告,01030701,三季度报告正文,164,E50,建筑装饰和其他建筑业,310000,上海市
190343,58534814,900957,凌云B股,2010-10-18,上海凌云实业发展股份有限公司,凌云Ｂ股：关于办公地址变更的公告,NaN,NaN,NaN,NaN,62,E50,建筑装饰和其他建筑业,310000,上海市
190344,58892072,900957,凌云B股,2011-01-12,上海凌云实业发展股份有限公司,凌云Ｂ股：2010年度业绩预告公告,NaN,NaN,NaN,NaN,38,E50,建筑装饰和其他建筑业,310000,上海市

In [5]:
df4 = pd.read_excel('ER/ER_Announcement_4.xlsx')
df5 = pd.read_excel('ER/ER_Announcement_5.xlsx')
df6 = pd.read_excel('ER/ER_Announcement_6.xlsx')

df_2 = pd.concat([df4, df5,df6], ignore_index=True)
df_2 = df_2[['AnnouncementID', 'Symbol', 'ShortName', 'DeclareDate', 'FullName', 
              'Title', 'ClassID', 'ClassName', 'ClassifyID', 'ClassifyName', 
              'FileSize', 'IndustryCode', 'IndustryName', 'AreaCode', 'Area']]
df_2.rename(columns={
    'AnnouncementID': '公告ID', 
    'Symbol': '证券代码', 
    'ShortName': '证券简称', 
    'DeclareDate': '公告日期', 
    'FullName': '公司全称', 
    'Title': '公告标题', 
    'ClassID': '分类编码', 
    'ClassName': '分类', 
    'ClassifyID': '小类分类编码', 
    'ClassifyName': '小类分类', 
    'FileSize': '公告大小', 
    'IndustryCode': '行业代码', 
    'IndustryName': '行业', 
    'AreaCode': '地区代码', 
    'Area': '地区'
}, inplace=True)

df_2['证券代码'] = pd.to_numeric(df_2['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_2.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_2['证券代码'] = df_2['证券代码'].astype(int)
df_2

,公告ID,证券代码,证券简称,公告日期,公司全称,公告标题,分类编码,分类,小类分类编码,小类分类,公告大小,行业代码,行业,地区代码,地区
2,59137131,1,深发展A,2011-03-18,深圳发展银行股份有限公司,深发展Ａ：中信证券股份有限公司关于公司2010年度保荐工作报告书,NaN,NaN,NaN,NaN,230,J66,货币金融服务,440300,深圳市
3,59265280,1,深发展A,2011-04-14,深圳发展银行股份有限公司,深发展Ａ：2011年第一季度业绩预告,NaN,NaN,NaN,NaN,108,J66,货币金融服务,440300,深圳市
4,59344230,1,深发展A,2011-04-27,深圳发展银行股份有限公司,深发展Ａ：2011年第一季度报告全文,2,定期报告,01030501,一季度报告正文,292,J66,货币金融服务,440300,深圳市
5,59344224,1,深发展A,2011-04-27,深圳发展银行股份有限公司,深发展Ａ：独立董事提名人声明及候选人声明（刘雪樵）,15,董监高变动,"01230330,01230340","独立董事声明公告,独立董事候选人声明",119,J66,货币金融服务,440300,深圳市
6,59344228,1,深发展A,2011-04-27,深圳发展银行股份有限公司,深发展Ａ：董事会决议公告,"9,15","股东大会,董监高变动","01190101,01230315,01230320","董事会决议召开年度股东大会通知及提示,变更独立董事公告,变更高级管理人员公告",256,J66,货币金融服务,440300,深圳市
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1738872,1202592483,900957,凌云B股,2016-08-20,上海凌云实业发展股份有限公司,凌云Ｂ股：股份质押公告,10,股权质押冻结,01230701,股份质押公告,100,K70,房地产业,310000,上海市
1738873,1202791174,900957,凌云B股,2016-10-27,上海凌云实业发展股份有限公司,凌云Ｂ股：2016年第三季度报告,2,定期报告,01030701,三季度报告正文,499,K70,房地产业,310000,上海市
1738874,1202897993,900957,凌云B股,2016-12-20,上海凌云实业发展股份有限公司,凌云Ｂ股：凌云B股股份质押公告,10,股权质押冻结,01230701,股份质押公告,101,K70,房地产业,310000,上海市
1738875,1203050712,900957,凌云B股,2017-01-25,上海凌云实业发展股份有限公司,凌云Ｂ股：信息披露暂缓与豁免事务管理制度,NaN,NaN,NaN,NaN,138,K70,房地产业,310000,上海市
1738876,1203050713,900957,凌云B股,2017-01-25,上海凌云实业发展股份有限公司,凌云Ｂ股：第六届董事会第十八次会议决议公告,NaN,NaN,NaN,NaN,107,K70,房地产业,310000,上海市

In [6]:
df7 = pd.read_excel('ER/ER_Announcement_7.xlsx')
df8 = pd.read_excel('ER/ER_Announcement_8.xlsx')
df9 = pd.read_excel('ER/ER_Announcement_9.xlsx')

df_3 = pd.concat([df7, df8,df9], ignore_index=True)
df_3 = df_3[['AnnouncementID', 'Symbol', 'ShortName', 'DeclareDate', 'FullName', 
              'Title', 'ClassID', 'ClassName', 'ClassifyID', 'ClassifyName', 
              'FileSize', 'IndustryCode', 'IndustryName', 'AreaCode', 'Area']]
df_3.rename(columns={
    'AnnouncementID': '公告ID', 
    'Symbol': '证券代码', 
    'ShortName': '证券简称', 
    'DeclareDate': '公告日期', 
    'FullName': '公司全称', 
    'Title': '公告标题', 
    'ClassID': '分类编码', 
    'ClassName': '分类', 
    'ClassifyID': '小类分类编码', 
    'ClassifyName': '小类分类', 
    'FileSize': '公告大小', 
    'IndustryCode': '行业代码', 
    'IndustryName': '行业', 
    'AreaCode': '地区代码', 
    'Area': '地区'
}, inplace=True)

df_3['证券代码'] = pd.to_numeric(df_3['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_3.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_3['证券代码'] = df_3['证券代码'].astype(int)
df_3

,公告ID,证券代码,证券简称,公告日期,公司全称,公告标题,分类编码,分类,小类分类编码,小类分类,公告大小,行业代码,行业,地区代码,地区
2,1203167460,1,平安银行,2017-03-16,平安银行股份有限公司,平安银行：2016年10月31日投资者关系活动记录表,NaN,NaN,NaN,NaN,24,J66,货币金融服务,440300,深圳市
3,1203167461,1,平安银行,2017-03-16,平安银行股份有限公司,平安银行：2016年11月2日投资者关系活动记录表,NaN,NaN,NaN,NaN,27,J66,货币金融服务,440300,深圳市
4,1203167462,1,平安银行,2017-03-16,平安银行股份有限公司,平安银行：2016年11月24日投资者关系活动记录表,NaN,NaN,NaN,NaN,27,J66,货币金融服务,440300,深圳市
5,1203167463,1,平安银行,2017-03-16,平安银行股份有限公司,平安银行：2017年1月10日投资者关系活动记录表,NaN,NaN,NaN,NaN,27,J66,货币金融服务,440300,深圳市
6,1203167512,1,平安银行,2017-03-17,平安银行股份有限公司,平安银行：独立董事相关独立意见,12,董事会与监事会,01310565,独立董事意见,231,J66,货币金融服务,440300,深圳市
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017153,1208152370,900957,凌云B股,2020-08-12,上海凌云实业发展股份有限公司,凌云Ｂ股：2020年半年度报告摘要,2,定期报告,01030310,半年度报告摘要,363,K70,房地产业,310000,上海市
2017154,1208152371,900957,凌云B股,2020-08-12,上海凌云实业发展股份有限公司,凌云Ｂ股：2020年半年度报告,2,定期报告,01030301,半年度报告正文,1808,K70,房地产业,310000,上海市
2017155,1208635152,900957,凌云B股,2020-10-29,上海凌云实业发展股份有限公司,凌云Ｂ股：凌云B股办公地址搬迁公告,NaN,NaN,NaN,NaN,128,K70,房地产业,310000,上海市
2017156,1208635150,900957,凌云B股,2020-10-29,上海凌云实业发展股份有限公司,凌云Ｂ股：凌云B股2020年第三季度报告正文,2,定期报告,01030710,三季度报告摘要,232,K70,房地产业,310000,上海市
2017157,1208635151,900957,凌云B股,2020-10-29,上海凌云实业发展股份有限公司,凌云Ｂ股：凌云B股2020年第三季度报告,2,定期报告,01030701,三季度报告正文,489,K70,房地产业,310000,上海市

In [7]:
df10 = pd.read_excel('ER/ER_Announcement_10.xlsx')
df11 = pd.read_excel('ER/ER_Announcement_11.xlsx')
df12 = pd.read_excel('ER/ER_Announcement_12.xlsx')

df_4 = pd.concat([df10, df11,df12], ignore_index=True)
df_4 = df_4[['AnnouncementID', 'Symbol', 'ShortName', 'DeclareDate', 'FullName', 
              'Title', 'ClassID', 'ClassName', 'ClassifyID', 'ClassifyName', 
              'FileSize', 'IndustryCode', 'IndustryName', 'AreaCode', 'Area']]
df_4.rename(columns={
    'AnnouncementID': '公告ID', 
    'Symbol': '证券代码', 
    'ShortName': '证券简称', 
    'DeclareDate': '公告日期', 
    'FullName': '公司全称', 
    'Title': '公告标题', 
    'ClassID': '分类编码', 
    'ClassName': '分类', 
    'ClassifyID': '小类分类编码', 
    'ClassifyName': '小类分类', 
    'FileSize': '公告大小', 
    'IndustryCode': '行业代码', 
    'IndustryName': '行业', 
    'AreaCode': '地区代码', 
    'Area': '地区'
}, inplace=True)

df_4['证券代码'] = pd.to_numeric(df_4['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df_4.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df_4['证券代码'] = df_4['证券代码'].astype(int)
df_4

,公告ID,证券代码,证券简称,公告日期,公司全称,公告标题,分类编码,分类,小类分类编码,小类分类,公告大小,行业代码,行业,地区代码,地区
2,1209384514,1,平安银行,2021-03-16,平安银行股份有限公司,平安银行：2020年年度股东大会文件,9,股东大会,011906,股东大会资料,548,J66,货币金融服务,440300,深圳市
3,1209384515,1,平安银行,2021-03-16,平安银行股份有限公司,平安银行：平安银行股份有限公司董事会决议公告,NaN,NaN,NaN,NaN,143,J66,货币金融服务,440300,深圳市
4,1209384512,1,平安银行,2021-03-16,平安银行股份有限公司,平安银行：平安银行股份有限公司关于召开2020年年度股东大会的通知,9,股东大会,01190101,董事会决议召开年度股东大会通知及提示,315,J66,货币金融服务,440300,深圳市
5,1209656306,1,平安银行,2021-04-09,平安银行股份有限公司,平安银行：平安银行股份有限公司2020年年度股东大会决议公告,9,股东大会,01190501,正常股东大会决议公告,281,J66,货币金融服务,440300,深圳市
6,1209656305,1,平安银行,2021-04-09,平安银行股份有限公司,平安银行：平安银行2020年年度股东大会法律意见书,9,股东大会,01199901,股东大会法律意见书,249,J66,货币金融服务,440300,深圳市
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2520795,1221434977,920118,太湖远大,2024-10-18,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：关于浙江太湖远大新材料股份有限公司2024年第三次临时股东大会的法律意见书,9,股东大会,011999,股东大会其它公告,2086,NaN,NaN,330500,湖州市
2520796,1221524847,920118,太湖远大,2024-10-25,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：关于完成工商变更登记及公司章程备案并换领营业执照的公告,99,其他,"012301,012399","公司基本信息变更,其它事项公告",103,NaN,NaN,330500,湖州市
2520797,1221575208,920118,太湖远大,2024-10-30,浙江太湖远大新材料股份有限公司,[定期报告]太湖远大：2024年三季度报告,2,定期报告,010307,三季度报告,1142,NaN,NaN,330500,湖州市
2520798,1221575196,920118,太湖远大,2024-10-30,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：第三届董事会第二十三次会议决议公告,NaN,NaN,NaN,NaN,180,NaN,NaN,330500,湖州市
2520799,1221575213,920118,太湖远大,2024-10-30,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：第三届监事会第二十二次会议决议公告,NaN,NaN,NaN,NaN,105,NaN,NaN,330500,湖州市

In [8]:
df = pd.concat([df_1, df_2,df_3,df_4], ignore_index=True)
df.to_csv('日_公司公告事件表.csv', index=False, encoding='utf-8-sig')
df

,公告ID,证券代码,证券简称,公告日期,公司全称,公告标题,分类编码,分类,小类分类编码,小类分类,公告大小,行业代码,行业,地区代码,地区
0,579679,26,飞亚达A,2002-04-23,深圳飞亚达(集团)股份有限公司,飞 亚 达：2002年第一季度报告,2,定期报告,01030501,一季度报告正文,32,C35,专用设备制造业,440300,深圳市
1,14027358,26,飞亚达A,2004-05-14,深圳飞亚达(集团)股份有限公司,飞 亚 达公司章程（2004年5月）,NaN,NaN,NaN,NaN,99,C35,专用设备制造业,440300,深圳市
2,10701067,32,深桑达A,2003-05-13,深圳市桑达实业股份有限公司,深桑达Ａ：2002年增发Ａ股之首次回访报告（银河证券）,NaN,NaN,NaN,NaN,24,C39,计算机、通信和其他电子设备制造业,440300,深圳市
3,14688978,32,深桑达A,2004-10-20,深圳市桑达实业股份有限公司,深桑达Ａ：2004年第三季度报告,2,定期报告,01030701,三季度报告正文,62,C39,计算机、通信和其他电子设备制造业,440300,深圳市
4,10088166,46,光彩建设,2002-12-14,光彩建设集团股份有限公司,光彩建设：关联交易管理办法,NaN,NaN,NaN,NaN,16,K70,房地产业,440300,深圳市
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6467151,1221434977,920118,太湖远大,2024-10-18,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：关于浙江太湖远大新材料股份有限公司2024年第三次临时股东大会的法律意见书,9,股东大会,011999,股东大会其它公告,2086,NaN,NaN,330500,湖州市
6467152,1221524847,920118,太湖远大,2024-10-25,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：关于完成工商变更登记及公司章程备案并换领营业执照的公告,99,其他,"012301,012399","公司基本信息变更,其它事项公告",103,NaN,NaN,330500,湖州市
6467153,1221575208,920118,太湖远大,2024-10-30,浙江太湖远大新材料股份有限公司,[定期报告]太湖远大：2024年三季度报告,2,定期报告,010307,三季度报告,1142,NaN,NaN,330500,湖州市
6467154,1221575196,920118,太湖远大,2024-10-30,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：第三届董事会第二十三次会议决议公告,NaN,NaN,NaN,NaN,180,NaN,NaN,330500,湖州市
6467155,1221575213,920118,太湖远大,2024-10-30,浙江太湖远大新材料股份有限公司,[临时公告]太湖远大：第三届监事会第二十二次会议决议公告,NaN,NaN,NaN,NaN,105,NaN,NaN,330500,湖州市

In [3]:
df1 = pd.read_excel('LT/LT_Dailyinfo_1.xlsx')
df2 = pd.read_excel('LT/LT_Dailyinfo_2.xlsx')
df3 = pd.read_excel('LT/LT_Dailyinfo_3.xlsx')
df4 = pd.read_excel('LT/LT_Dailyinfo_4.xlsx')
df5 = pd.read_excel('LT/LT_Dailyinfo_5.xlsx')
df6 = pd.read_excel('LT/LT_Dailyinfo_6.xlsx')
df7 = pd.read_excel('LT/LT_Dailyinfo_7.xlsx')

df = pd.concat([df1, df2,df3,df4,df5,df6,df7], ignore_index=True)
df.rename(columns={
    'Stkcd': '证券代码', 
    'Trddt': '交易日期',
    'Prccls':'交易日收盘价',
    'Tolstknum':'交易日总成交量',
    'Tolstknva':'交易日总成交金额'
}, inplace=True)

df['证券代码'] = pd.to_numeric(df['证券代码'], errors='coerce')
# 删除 '证券代码' 中的 NaN 值的行
df.dropna(subset=['证券代码'], inplace=True)
# 将 '证券代码' 转换为整数类型
df['证券代码'] = df['证券代码'].astype(int)
df.to_csv('日_日交易统计文件.csv')
df

           证券代码        交易日期 交易日收盘价   交易日总成交量      交易日总成交金额
2             1  2003-01-08  10.53   8042170      83768830
3             1  2003-01-09  10.69  19172123     203174049
4             1  2003-01-14  11.44  54203669     611847871
5             1  2003-01-15   11.2  27493517     312851558
6             1  2003-01-16  11.37  14444456     163164681
...         ...         ...    ...       ...           ...
4613514  920118  2024-09-10     17    932598   14924558.49
4613515  920118  2024-09-18     17   2361316   39965852.05
4613516  920118  2024-10-08  28.66   4410475  117675066.24
4613517  920118  2024-10-14   22.5   2139456   45690549.72
4613518  920118  2024-10-28  26.22   1852547   48085851.37

[4613505 rows x 5 columns]