In [1]:
import numpy as np
import pandas as pd
from utils.diff import diff

In [2]:
# 09. cashdebt
# 季度频率。收益除以总负债，其定义类似于Ou和Penman(1989)[3]。
# 注：可定义为“息前税后利润”除以“负债总额”

df1 = pd.read_csv('季_现金流量表(直接法).csv', usecols=['证券代码', '会计期间', '经营活动产生的现金流量净额'])
df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce').fillna(0).astype(int)
df2 = pd.read_csv('季_资产负债表.csv', usecols=['证券代码', '会计期间', '流动负债合计'])
df2['证券代码'] = pd.to_numeric(df2['证券代码'], errors='coerce').fillna(0).astype(int)
df3 = pd.merge(df1, df2, on=['证券代码', '会计期间'], how='left')
df3 = diff(df3, col=['经营活动产生的现金流量净额'])
df3['cashbebt'] = df3['经营活动产生的现金流量净额']/df3['流动负债合计'].replace(0, np.nan)
df4 = df3[['证券代码', '会计期间', 'cashbebt']]
df4.to_csv('季_9.csv', index=False, encoding='utf-8-sig')
df4

          证券代码        会计期间  cashbebt
0            1  2000-03-31       NaN
1            1  2000-06-30       NaN
2            1  2000-09-30       NaN
3            1  2000-12-31       NaN
4            1  2001-03-31       NaN
...        ...         ...       ...
571126  920118  2023-09-30       NaN
571127  920118  2023-12-31       NaN
571128  920118  2024-03-31       NaN
571129  920118  2024-06-30       NaN
571130  920118  2024-09-30       NaN

[571131 rows x 3 columns]