In [11]:
#下载表名:中国上市公司股权性质文件 ,数据区间 2003-12-31 至 2023-12-31
#年度变量
import numpy as np 
import pandas as pd 

EN = pd.read_excel('EN_EquityNatureAll.xlsx')
EN = EN.iloc[2:]

EN['soe'] = 0
EN['private'] = 0
EN['foreign'] = 0
EN['others'] = 0

EN['EquityNatureID'] = EN['EquityNatureID'].fillna(0)
EN.groupby('EquityNatureID')['EquityNatureID'].count()


def My_contain(Set,Col,Key,FillCol,Num):
    Set.loc[Set[Col].str.contains(Key, na=False), FillCol] = Num

Set = EN
Col = 'EquityNatureID'
Num = 1
My_contain(Set,Col,'1','soe',Num)
My_contain(Set,Col,'2','private',Num)
My_contain(Set,Col,'3','foreign',Num)
My_contain(Set,Col,'4','others',Num)
My_contain(Set,Col,'0','others',Num)

EN_ = EN[['Symbol','EndDate','soe', 'private', 'foreign', 'others']]
EN_ = EN_.rename(columns = {'Symbol': '证券代码','EndDate':'会计期间'})

EN_ = EN_[['证券代码','会计期间','soe', 'private', 'foreign', 'others']].reset_index(drop=True)

EN_['证券代码'] = EN_['证券代码'].astype(int)

# 创建会计期间的DataFrame
year_df = pd.DataFrame([f'{y}-12-31' for y in range(2000, 2024)], columns=['会计期间'])
year_df['会计期间'] = year_df['会计期间'].astype(str)  # 确保为字符串类型

# 读取公司文件
stk_df = pd.read_csv('公司文件.csv')

# 添加辅助列以便合并
stk_df['on'] = 0
year_df['on'] = 0

# 合并DataFrames
df = pd.merge(stk_df, year_df, on=['on'], how='outer')[['证券代码', '会计期间']]
df1 = pd.merge(df, EN_, on=['证券代码', '会计期间'], how='left')

# 打印合并后的DataFrame以确认
df1

#EN_.to_csv("EN_treated.csv",encoding='utf_8_sig',index = False)

/root/miniconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

          证券代码        会计期间  soe  private  foreign  others
0            1  2000-12-31  NaN      NaN      NaN     NaN
1            1  2001-12-31  NaN      NaN      NaN     NaN
2            1  2002-12-31  NaN      NaN      NaN     NaN
3            1  2003-12-31  1.0      0.0      0.0     0.0
4            1  2004-12-31  0.0      0.0      1.0     0.0
...        ...         ...  ...      ...      ...     ...
138451  920118  2019-12-31  NaN      NaN      NaN     NaN
138452  920118  2020-12-31  NaN      NaN      NaN     NaN
138453  920118  2021-12-31  NaN      NaN      NaN     NaN
138454  920118  2022-12-31  NaN      NaN      NaN     NaN
138455  920118  2023-12-31  NaN      NaN      NaN     NaN

[138456 rows x 6 columns]

In [12]:
df1.to_csv("年_91_92_93_94.csv",encoding='utf_8_sig',index = False)