In [1]:
import numpy as np
import pandas as pd

In [2]:
mon_lst = []
for y in range(2000, 2025):
    for m in ['01-31', '02-29' if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0) else '02-28', '03-31', '04-30', '05-31', '06-30', '07-31', '08-31', '09-30', '10-31', '11-30', '12-31']:
        mon_lst.append(f'{y}-{m}')
mon_df = pd.DataFrame(mon_lst[:-2], columns=['交易月份'])
mon_df['月份'] = mon_df['交易月份'].apply(lambda x: x[:7])
stk_df = pd.read_csv('公司文件.csv')
stk_df['on'] = 0
mon_df['on'] = 0
header = pd.merge(stk_df, mon_df, on=['on'], how='left')[['证券代码', '交易月份', '月份']]
header

           证券代码        交易月份       月份
0             1  2000-01-31  2000-01
1             1  2000-02-29  2000-02
2             1  2000-03-31  2000-03
3             1  2000-04-30  2000-04
4             1  2000-05-31  2000-05
...         ...         ...      ...
1719157  920118  2024-06-30  2024-06
1719158  920118  2024-07-31  2024-07
1719159  920118  2024-08-31  2024-08
1719160  920118  2024-09-30  2024-09
1719161  920118  2024-10-31  2024-10

[1719162 rows x 3 columns]

In [9]:
# 筛选证券代码为 1 且交易月份包含 2000 的行
result = header[(header['证券代码'] == 1)]
result.shape

(298, 3)

In [12]:
Stkcd_list = np.unique(header['证券代码'])
Stkcd_list

array([     1,      2,      3, ..., 920088, 920099, 920118], dtype=int64)

In [13]:
len(Stkcd_list)

5769

In [5]:
# 36. ill
# 月频率。第t月的日平均“绝对收益/交易量”。

df1 = pd.read_csv('日_日个股回报率文件.csv', usecols=['证券代码', '交易日期', '不考虑现金红利的日个股回报率', '日个股交易金额'])
df1 = df1.sort_values(by=['证券代码', '交易日期'])
df1['月份'] = df1['交易日期'].apply(lambda x: x[:7])
df1['ill'] = df1['不考虑现金红利的日个股回报率'].abs()/df1['日个股交易金额'].replace(0, np.nan)
df2 = df1[['证券代码', '月份', 'ill']].groupby(['证券代码', '月份']).mean().reset_index()
df3 = pd.merge(header, df2, on=['证券代码', '月份'], how='left')
df4 = df3[['证券代码', '交易月份', 'ill']]
df4.to_csv('月_36.csv', index=False, encoding='utf-8-sig')
df4

           证券代码        交易月份           ill
0             1  2000-01-31  1.320417e-10
1             1  2000-02-29  7.605583e-11
2             1  2000-03-31  6.170962e-11
3             1  2000-04-30  6.758061e-11
4             1  2000-05-31  1.249659e-10
...         ...         ...           ...
1719157  920118  2024-06-30           NaN
1719158  920118  2024-07-31           NaN
1719159  920118  2024-08-31  9.598799e-10
1719160  920118  2024-09-30  8.101226e-10
1719161  920118  2024-10-31  9.692068e-10

[1719162 rows x 3 columns]

In [ ]:
df4